<template>
  <div class="flex flex-col items-center">
    <div class="mb-3 relative">
      <label
        for="file"
        class="
          absolute
          right-0
          top-4
          flex
          justify-center
          items-center
          w-10
          h-10
          rounded-full
          bg-success
          text-white
          font-bold
          text-[25px]
          cursor-pointer
        "
      >
        +
      </label>
      <input
        type="file"
        class="hidden"
        accept="image/*"
        @change="handleChange"
        id="file"
      />
      <div
        class="
          w-[168px]
          h-[168px]
          rounded-full
          shadow-card
          bg-white
          overflow-hidden
        "
      >
        <img :src="file" class="w-full h-full object-cover" v-if="file" />
        <div class="w-full h-full flex items-center justify-center" v-else>
          <img src="/images/preview_avatar.png" />
        </div>
      </div>
    </div>
    <span class="font-arial text-sm text-gray">Add/change user image</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      file: "",
    };
  },
  methods: {
    handleChange(e) {
      console.log(e.target.files[0]);
      this.file = URL.createObjectURL(e.target.files[0]);
    },
  },
};
</script>