<template>
  <div class="ticket-item">
    <!-- <span :class="[this.classes, getBackgroundColor()]" class="ticket-action">{{ ticketStatus }}</span> -->
    <span :class="getBackgroundColor()" class="ticket-action">{{ ticketStatus }}</span>
    <div class="flex bdr">
      <div class="txt tid">
        <span class="textupcase smltxt">TICKET ID</span> {{ ticketId }}
      </div>
      <div class="txt">
        <b>{{ ticketMessage }}</b>
      </div>
      <div class="txt timedate">{{ ticketTime }}</div>
    </div>
    <div class="flex">
      <div class="txt">
        <span class="textupcase smltxt">ASSIGN TO</span> {{ ticketAssign }}
      </div>
      <div class="txt">
        <span class="textupcase smltxt">TYPE</span> {{ ticketType }}
      </div>
      <div class="txt">
        <span class="textupcase smltxt">PRIORItY</span>
        <b :class="getPriorityColor()" class="fs11 boldblk">•{{ ticketPriority }}</b>
      </div>
    </div>

    <div class="flex t-side">
      <a href="#ticketedit" data-fancybox="" data-modal="true" class="edit"></a>
      <span href="" class="msgcount" :class="getCountBg()">{{ ticketMessageCount }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    //classes: String,
    // label: String,
    variant: String,
    ticketStatus: String,
    ticketId: String,
    ticketMessage: String,
    ticketTime: String,
    ticketAssign: String,
    ticketType: String,
    ticketPriority: String,
    ticketMessageCount: Number,
    onClick: Function,
  },
  methods: {
    getBackgroundColor() {
      switch (this.variant) {
        case "hold":
          return "bg-darkblu2 ";
        case "pending":
          return "bg-liteblu2";
        case "open":
          return "bg-green"
        default:
          return "bg-success";
      }
    },
    getPriorityColor() {
       switch (this.ticketPriority) {
        case "Medium":
          return "blu";
        case "High":
          return "red";
        case "Low":
          return "grey"
        default:
          return "blu";
      }
    },
    getCountBg() {
      if(this.ticketMessageCount > 0) {
        return "countgrn";
      }
    }
  },
};
</script>

 <style scoped>
 .bg-darkblu2 {
    background: #3A36DB;
}
.bg-green {
    background: #7FCC30;
}
.bg-liteblu2 {
    background: #1FC9E6;
}
.ticket-item.active,
.ticket-item:hover {
  box-shadow: inset 0 0 0 3px #91c94d, 0px 0px 15px #00000029;
}

.ticket-item {
  background: #ffffff;
  box-shadow: 0px 0px 15px #00000029;
  padding: 60px 24px 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.3s;
}

.ticket-action {
  position: absolute;
  left: 0;
  top: 20px;
  color: #fff;
  line-height: 1;
  padding: 4px 10px;
  font-size: 14px;
  min-width: 90px;
  text-align: center;
}

.bg-darkblu2 {
  background: #3a36db;
}

a,
span {
  display: inline-block;
}

.ticket-item .bdr {
  border-bottom: 1px solid rgb(92 89 89 / 50%);
  margin-bottom: 12px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.ticket-item .txt {
  width: 30.33%;
  margin-bottom: 10px;
  line-height: 1.4;
}

.tid .textupcase {
  display: inline;
  color: #5d5959;
  margin-right: 5px;
}

.smltxt {
  font-size: 11px;
  letter-spacing: 0.18px;
  color: #b4b4b4;
  font-weight: 700;
  display: block;
}
.textupcase {
  text-transform: uppercase;
}

.ticket-item .txt {
  width: 30.33%;
  margin-bottom: 10px;
  line-height: 1.4;
}

.timedate {
  color: #5d5959;
  font-size: 13px;
}

.blu {
  color: #1fc9e6;
}
.boldblk {
  font-weight: 900;
}

.fs11 {
  font-size: 11px;
}

.t-side {
  position: absolute;
  background: #fff;
  top: 44%;
  right: 20px;
  padding: 0 0 0 20px;
}

.edit {
  background: url(/images/icons/edit.svg) no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.msgcount.grn {
  background: #7fcc30;
  color: #fff;
}

.grn {
  color: #8bd144;
}
.msgcount {
  background: #b4b4b4;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-left: 20px;
}

.blu {
    color: #1FC9E6;
}

.red {
    color: #E54F4F;
}

.grey {
    color: #B4B4B4;
}

.countgrn {
    background: #7fcc30;
    color: #fff;
}


</style>