<template>
  <div class="chatwrap">
    <div class="chathead textcenter">
      <div class="fs15">Eddie Izard</div>
      <span class="fs12 litegrey">ASOCS SUPPORT</span>
    </div>

    <div class="chat-messages mb25">
      <div class="fs13 litegrey textcenter mb20">May 28, 2021</div>

      <div class="chat-message-left mb20">
        <div class="chatbox">
          John, I have restarted your devices and it’s back up, let me know if
          this works for you
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="fs13 litegrey textcenter mb20">May 28, 2021</div>

      <div class="chat-message-right mb20">
        <div class="chatbox">
          Thank you for the update, Eddie. I will need some more help
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-right mb20">
        <div class="chatbox">
          Thank you for the update, Eddie. I will need some more help
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-left mb20">
        <div class="chatbox">
          Sure, let me know what can I do to help you
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-left mb20">
        <div class="chatbox">
          John, I have restarted your devices and it’s back up, let me know if
          this works for you
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-right mb20">
        <div class="chatbox">
          Thank you for the update, Eddie. I will need some more help
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-right mb20">
        <div class="chatbox">
          Thank you for the update, Eddie. I will need some more help
          <div class="date">2:38 am</div>
        </div>
      </div>

      <div class="chat-message-left mb20">
        <div class="chatbox">
          Sure, let me know what can I do to help you
          <div class="date">2:38 am</div>
        </div>
      </div>
    </div>

    <div class="chat-bottom">
      <div class="flex">
        <div class="w-90 relative">
          <input
            type="text"
            class="txtboxsend shadow"
            placeholder="Type your message"
          />
          <a href="" class="linkicon"></a>
        </div>
        <div class="button">
          <button class="send shadow"></button>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
  
</template>

<script>
export default {
  props: {
    classes: String,
    label: String,
    variant: String,
    onClick: Function,
  },
  methods: {
    
  },
};
</script>

<style scoped>
.textcenter {
    text-align: center;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px 0;
}

.mb25 {
    margin-bottom: 25px;
}

.litegrey {
    color: #5D5959;
}

.textcenter {
    text-align: center;
}
.fs13 {
    font-size: 13px;
}
.mb20 {
    margin-bottom: 20px;
}

.chat-message-left {
    padding: 0 20px;
}

.chat-message-right {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.chat-message-right .chatbox {
    background: #8BD144;
    color: #fff;
}

.chatbox {
    width: 250px;
    padding: 10px;
    background: #fff;
    filter: drop-shadow(0 0 6px rgb(0 0 0 / 10%));
    border-radius: 10px;
    line-height: 1.4;
    position: relative;
}

.chat-message-right .chatbox .date {
    color: #fff;
}

.chatbox .date {
    color: #7C8588;
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.send {
    background: url(/images/icons/send.svg) no-repeat right 15px center #fff;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.send:hover{
  background: url(/images/icons/send-wh.svg) no-repeat right 15px center #8bd144;
}
.linkicon {
    background: url(/images/icons/link.svg) no-repeat;
    width: 28px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.shadow {
    border: 1px solid #D9E1E7CC;
    box-shadow: 0px 0px 15px #00000029;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px 0;
}

.txtbox {
    border: 1px solid #B4B4B4;
    border-radius: 16px;
    height: 66px;
    transition: 0.3s;
    color: #7FCC30;
    padding: 0 15px;
}
.w-90{
  width:90%;
}
.txtboxsend{
      border: 1px solid #B4B4B4;
    border-radius: 16px;
    height: 66px;
    transition: 0.3s;
    color: #7FCC30;
    padding: 0 15px;
    display: block;
    width: 100%;
}
</style>