<template>
  <button
    :class="[this.classes, getBackgroundColor()]"
    class="text-[23px] font-bold text-white rounded-full"
    @click="onClick()"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    classes: String,
    label: String,
    variant: String,
    onClick: Function,
  },
  methods: {
    getBackgroundColor() {
      switch (this.variant) {
        case "success":
          return "bg-success";
        case "danger":
          return "bg-danger";
        default:
          return "bg-success";
      }
    },
  },
};
</script>