<template>
  <div class="flex lg:h-screen lg:p-5">
    <div
      class="
        w-full
        lg:shadow-card lg:rounded-5xl
        flex flex-col
        lg:flex-row
        items-stretch
      "
    >
      <div
        class="
          py-6
          lg:py-[102px]
          px-8
          sm:px-0
          flex-shrink-0
          w-full
          max-w-[445px]
          mx-auto
          lg:ml-[238px] lg:mr-[108px]
          flex flex-col
          items-center
        "
      >
        <img
          src="/images/logo.svg"
          class="mb-7 lg:mb-[84px]"
          alt=":( Not Found"
        />
        <p class="text-[30px] font-bold text-dark mb-[5px]">VERIFICATION</p>
        <p class="text-base text-dark mb-10 lg:mb-20 text-center">
          We have sent you a verification access code via SMS
        </p>
        <p class="font-arial text-base text-secondary mb-10">Enter code here</p>
        <div class="w-full flex mb-14 lg:mb-[100px]">
          <CodeInput
            :fields="4"
            :loading="false"
            class="input"
            v-on:change="onChange"
            v-on:complete="onComplete"
          />
        </div>
        <router-link to="/auth/reset-password" class="w-full">
          <Button class="w-full h-[55px] mb-6 lg:mb-14"> Verify </Button>
        </router-link>
        <button type="button" class="text-base text-dark">Resend Code</button>
      </div>
      <div>
        <img
          src="/images/pages/auth/confirm_email.svg"
          class="h-full object-cover object-left"
          alt=":( Not Found"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from "../../components/Button";
import CodeInput from "vue-verification-code-input";

export default {
  components: {
    Button,
    CodeInput,
  },
  methods: {
    onChange(e) {
      console.log("onChange ", e);
    },
    onComplete(e) {
      console.log("onComplete ", e);
    },
  },
};
</script>