<template>
  <div class="flex lg:h-screen lg:p-5">
    <div
      class="
        w-full
        flex flex-col
        lg:flex-row
        items-stretch
        lg:shadow-card lg:rounded-5xl lg:px-14 lg:py-8
      "
    >
      <div
        class="
          w-full
          max-w-[445px]
          py-6
          lg:py-[70px]
          mx-auto
          lg:mx-[60px]
          px-8
          sm:px-0
          flex flex-col
          items-center
          flex-shrink-0
        "
      >
        <img
          src="/images/logo.svg"
          class="mb-[37px] lg:mb-20"
          alt=":( Not Found"
        />
        <p
          class="
            text-[22px]
            lg:text-[30px]
            font-bold
            text-dark
            mb-2.5
            lg:mb-8
            uppercase
          "
        >
          FORGOT YOU PASSWORD?
        </p>
        <p class="text-base lg:text-xl text-dark font-bold mb-10 lg:mb-20">
          Enter your email, and we’ll send you<br />
          a link to get back into your account.
        </p>
        <TextField
          type="email"
          label="Email"
          placeholder="Email@email.com"
          classes="mb-[68px] lg:mb-20"
        />
        <router-link to="/auth/confirm-email" class="w-full">
          <Button variant="success" classes="w-full h-[55px]">
            Send login link
          </Button>
        </router-link>
      </div>
      <div>
        <img
          src="/images/pages/auth/forgot_password.svg"
          class="h-full object-cover object-left"
          alt=":( Not Found"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from "../../components/Button";
import TextField from "../../components/TextField";

export default {
  components: {
    Button,
    TextField,
  },
};
</script>