<template>
  <div class="xl:min-h-screen lg:min-h-screen md:h-100 sm:h-100  flex">
    <div
      class="
        w-full
        flex flex-col
        sm:flex-col
        md:flex-col
        lg:m-5
        lg:shadow-card lg:rounded-5xl 
        lg:flex-row
        xl:flex-row
        2xl:flex-row
      "
    >
      <div
        class="w-full
          2xl:w-2/5
          xl:w-2/5
          lg:w-2/5
          h-auto
          wt-100
          md:w-full
          sm:w-full 
          sm:h-auto
          md:h-100
          lg:h-100
          xl:h-100
          2xl:h-100
        "
      >
      <div class="w-full">
        <img
          src="/images/logo.svg"
          class="mx-auto w-[162px] pt-[50px] mb-5 sm:mb-6 lg:mb-[125px]"
          alt=":( Not Found"
        />
      </div>
        <div class="w-full
           px-[41.8px]
          lg:px-[41.8px]
          sm:px-9
          mx-auto
          ">
        <h1
          class="text-center
            text-[2rem]
            font-black
            lg:text-[2rem]
            text-dark
            mb-[35px]
            sm:mb-[27px]
            lg:mb-[37px]
            uppercase
            leading-1
          "
        >
          USERS Portal LogIn
        </h1>
        </div>
        <div class="flex flex-col lg:flex-col md:flex-row sm:flex-col
          px-[41.8px]
          lg:px-[41.8px]
          sm:px-9
          mx-auto">
        <TextField label="User Name"
        v-model="formdata.username"
        
         classes="mb-[42px] mr-[0px] md:mb-auto sm:mr-[0px] md:mr-[25px] lg:mr-[0px]
        lg:mb-[36px]" /> 
        <TextField
          type="password"
          label="Password"
          v-model="formdata.password"
          
          classes="mb-[42px] lg:mb-[104px] md:mb-[50px]"
        />
        </div>
        <div class="px-[41.8px]
          lg:px-[41.8px]
          sm:px-9">
        <Button
          variant="success"
          classes="w-full h-[55px] mb-[27px]
          mx-auto"
          :onClick="handleLogin"
        >
          Login
        </Button>
        </div>
        <router-link to="/auth/forgot-password" class="flex w-full justify-center text-base text-center pb-5 text-dark">
          Forgot user name or password?
        </router-link>
        
      </div>
      <div class="flex justify-end items-stretch h-auto w-full lg:h-[calc(100vh-70px)] wt-100 2xl:w-3/5 lg:w-3/5 xl:w-3/5
          md:w-full md:h-100
          sm:w-full ">
        <img
          src="/images/pages/auth/login.svg"
          class="h-full"
          alt=":( Not Found"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from "../../components/Button";
import TextField from "../../components/TextField";
import EventServices from "../../services/EventServices.js"

export default {
  components: {
    Button,
    TextField,
  },
  data() {
    return {
      formdata:{
        username:'',
        password:'',
      },
    }
  },
  methods: {
    handleLogin() {
      console.log(this.formdata);
      EventServices.login(this.formdata).then(
        (response) => {
          console.log(`login response ${response}`);
          this.$router.push("/dashboard");
        }
      ).catch( (error)=>{
        console.log(error)
      })

      
    },
  },
};
</script>