<template>
  <div class="flex lg:h-screen lg:p-5">
    <div
      class="
        w-full
        lg:shadow-card lg:rounded-5xl lg:px-10 lg:py-5
        flex flex-col
        lg:flex-row
        justify-between
        items-stretch
      "
    >
      <div
        class="
          px-8
          sm:px-0
          flex-shrink-0
          w-full
          max-w-[445px]
          mx-auto
          lg:mx-[178px]
          py-6
          lg:py-10
          flex flex-col
          items-center
          relative
          z-10
        "
      >
        <img
          src="/images/logo.svg"
          class="mb-6 lg:mb-[60px]"
          alt=":( Not Found"
        />
        <p class="font-bold text-xl text-dark mb-1 lg:mb-10">
          Reset your password
        </p>
        <p
          class="
            text-[22px]
            lg:text-[30px]
            font-bold
            text-dark
            mb-5
            lg:mb-[60px]
            uppercase
          "
        >
          RESET YOUR PASSWORD
        </p>
        <TextField
          type="password"
          label="New Password"
          classes="mb-10 lg:mb-11"
        />
        <TextField
          type="password"
          label="Confirm New Password"
          classes="mb-10 lg:mb-[87px]"
        />
        <Button variant="success" classes="w-full h-[55px] mb-[27px]">
          Reset Password
        </Button>
        <p class="text-base text-dark">Need further assistance?</p>
      </div>
      <div class="overflow-hidden">
        <img
          src="/images/pages/auth/reset_password.svg"
          class="h-full object-cover object-left"
          alt=":( Not Found"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from "../../components/Button";
import TextField from "../../components/TextField";

export default {
  components: {
    Button,
    TextField,
  },
};
</script>