<template>
  <!-- <button
    :class="[this.classes, getBackgroundColor()]"
    class="text-[23px] font-bold text-white rounded-full"
    @click="onClick()"
  >
    <slot></slot>
  </button> -->
  <div class="item" @click="onClick()">
    <span class="textupcase smltxt">{{type}}</span>
    <div>{{ statusName }} ({{ statusCount }})</div>
  </div>
</template>

<script>
export default {
  props: {
    classes: String,
    // label: String,
    // variant: String,
    type:String,
    statusName: String,
    statusCount: Number,
    onClick: Function,
  },
  methods: {
    // getBackgroundColor() {
    //   switch (this.variant) {
    //     case "success":
    //       return "bg-success";
    //     case "danger":
    //       return "bg-danger";
    //     default:
    //       return "bg-success";
    //   }
    // },
  },
};
</script>

 <style scoped>
.item {
  background: transparent
    radial-gradient(closest-side at 1% -20%, #efefef 0%, #ffffff 100%) 0% 0%
    no-repeat;
  box-shadow: 0px 0px 5px #0000008f;
  border-radius: 27px;
  height: 40px;
  padding: 8px 10px 0px 10px;
  line-height: 1;
  /* width: 14%; */
  margin-right:10px;
}

.item span {
  font-size: 9px;
}

.smltxt {
  font-size: 11px;
  letter-spacing: 0.18px;
  color: #b4b4b4;
  font-weight: 700;
  display: block;
}

.textupcase {
  text-transform: uppercase;
}

.item div {
  font-size: 14px;
}
</style>