<template>
  <div class="md:p-5 md:pl-[6px] min-h-screen flex">
    <div class="hidden md:flex flex-shrink-0 px-4">
      <div
        class="
          w-20
          flex flex-col
          justify-between
          rounded-full
          h-full
          bg-success
          py-10
          shadow-card
          h-[calc(100vh-50px)]
        "
      >
        <div class="flex flex-col items-center">
          <img
            src="/images/white_logo.svg"
            class="mb-9 -ml-2"
            alt=":( Not Found"
          />
          <div>
            <router-link v-for="link in links" :key="link.id" :to="link.path">
              <div
                class="
                  cursor-pointer
                  flex flex-col
                  items-center
                  justify-center
                  w-14
                  h-14
                  rounded-lg
                  mb-6
                "
                :class="
                  $route.path.indexOf(link.path) !== -1
                    ? 'bg-[#8BD144] shadow-navCard'
                    : ''
                "
              >
                <img v-if="link.icon != ''" :src="link.icon" alt=":( Not Found" class="mb-0.5" />
                <i v-else class="material-icons mb-0.5 text-[#FFFFFF]" >{{link.matIcon}}</i>
                <span class="text-xxs text-white">{{ link.name }}</span>
              </div>
            </router-link>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="flex items-center mb-4">
            <img
              src="/images/icons/twitter.svg"
              class="mx-1"
              alt=":( Not Found"
            />
            <img
              src="/images/icons/facebook.svg"
              class="mx-1"
              alt=":( Not Found"
            />
          </div>
          <p class="text-[11px] text-white">© Asocs 2021</p>
        </div>
      </div>
    </div>
    <div class="w-full pt-[62px] px-3.5 py-2 md:p-0">
      <div
        class="
          w-full
          relative
          shadow-card
          min-h-full
          rounded-[40px]
          
        "
      >
        <div
          class="
            w-full
            h-[52px]
            flex
            items-center
            justify-between
            md:justify-end
            fixed
            md:absolute
            top-0
            left-0
            md:top-3 md:right-8
            z-50
            md:z-10
            px-6
            bg-success
            md:bg-transparent
          "
         
          v-bind:class="(currentRouteName == 'Support')  ? 'hidden' : 'w-full' "
        >
          <div class="flex md:hidden items-center">
            <img src="/images/icons/menu.svg" class="mr-8" alt=":( Not Found" />
            <img src="/images/white_logo.svg" class="w-8" alt=":( Not Found" />
          </div>
          <div class="flex items-center z-10">
            <img
              src="/images/icons/search.svg" 
              class="filter brightness-0 invert md:filter-none mr-6 md:mr-10"
              alt=":( Not Found"
            />
            <div class="mr-6 md:mr-10 relative">
              <img
                src="/images/icons/bell.svg" @click="message()"
                class="filter brightness-0 invert md:filter-none"
                alt=":( Not Found"
              />
              <span
                class="
                  absolute
                  -top-1
                  -right-1
                  flex
                  justify-center
                  items-center
                  w-4
                  h-4
                  bg-[#0090FF]
                  rounded-full
                  text-white text-xxs
                  font-bold
                "
                >3
              </span>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                md:min-w-[240px]
                cursor-pointer
              "
            >
              <div class="flex items-center">
                <img
                  src="/images/profile.svg"
                  class="w-[46px] h-[46px] md:w-14 md:h-14 md:mr-4"
                  alt=":( Not Found"
                />
                <div class="flex-col hidden md:flex">
                  <span class="font-bold text-[17px] text-[#5D5959]">
                    Ben Watson
                  </span>
                  <span class="text-[15px] text-[#5D5959]">Tech User</span>
                </div>
              </div>
              <img
                src="/images/icons/arrow_down.svg"
                class="hidden md:block"
                alt=":( Not Found"
              />
            </div>
          </div>
        </div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
// import MyMessage from ".../pages/Customer/MyMessage";
export default {
  // component : {
  //   MyMessage
  // },
  computed: {
    currentRouteName() {
        return this.$route.name;
    }
 },
  data: function () {
    return {
      links: [
        {
          id: "home",
          name: "Home",
          path: "/dashboard",
          icon: "/images/icons/home.svg",
        },
        {
          id: "customer",
          name: "Users",
          path: "/customer",
          icon: "/images/icons/users.svg",
        },
        {
          id: "support",
          name: "Support",
          path: "/support",
          icon: "",
          matIcon:"headset_mic"
        },
        {
          id: "logout",
          name: "Logout",
          path: "/auth/login",
          icon: "/images/icons/logout.svg",
        },
      ],
    };
  },
  methods: {
    handleLogout() {
      this.$router.push("/");
    },
    message() {
      this.$router.push("/customer/mymessage");
    }
  },
};
</script>
