<template>
  <Layout>
    <div class="relative h-full">
      <div class="absolute top-0 left-0">
        <div class="flex items-center  p-4 mb-12">
          <router-link to="/customer/list">
            <img
              src="/images/back.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              Supports
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              New Support Tickets
            </p>
          </div>
        </div>
      </div>
      <div class="w-full flex flex-row" >
        <div 
          class="
            w-1/3
            pt-20
            flex flex-col
            items-center
            justify-around
            h-full
            min-h-screen
            bg-[#F9F9F9]
          "
          
        >
          <div class="menuitem flex items-center justify-center" v-for="(tab, index) in tabs" :key="index">
            <div class="itm"  :class="activeTab===index ? 'active pointer' : ''"   @click="activeTab = index">
              <div class="icon"><img :src="tab.img" /></div>
              <h4 class="textupcase">{{tab.h4}}</h4>
              <p>{{tab.p}}</p>
            </div>
          </div>
          
        </div>
        <div class="w-2/3 mt-16 p-[68px] pb-[25px]">
          <div class="tabs" id="tab1" v-show="activeTab===0" style="">
            <h3 class="text-[32px] font-black mb5">EDIT TICKET</h3>
            <h4 class="text-[24px] text-[#5D5959] font-normal mb-[60px]">
              Ticket ID #1234GH76
            </h4>

            <div class="leading-3 text-[#B4B4B4] textupcase mb30">Step 1/3</div>
            <div class="mb-[40px]">
              <h4 class="text-[22px]">
                Please select the the kind of support you require
              </h4>
              <p>Choose type of support</p>
            </div>

            <div class="flex flex-wrap radiobox pad0 mb30 w-90">
              <div
                class="
                  flex flex-col
                  w-full
                  lg:w-1/3
                  mb-5
                  items-center
                  mr-[15px]
                  border border-[#D9E1E780]
                  shadow-card
                  c-card
                  rounded-2xl
                  h-[240px]
                "
              >
                <img
                  class="h-[86px]"
                  src="/images/icons/tech.svg"
                  alt=":( Not Found"
                />
                <div
                  class="flex items-center text-dark font-black m-height-[70px]"
                >
                  <h4 class="textcenter font-extrabold fs30">Tech Support</h4>
                </div>
                <p class="fs18">
                  Any Support related issues should be sent here
                </p>
                <span class="radiobtn"></span>
              </div>
         
              <div
                class="
                  flex flex-col
                   w-full
                  lg:w-1/3
                  mb-5
                  items-center
                  mr-[15px]
                  border border-[#D9E1E780]
                  shadow-card
                  c-card
                  rounded-2xl
                  h-[240px]
                "
              >
                <img
                  class="h-[86px]"
                  src="/images/icons/necktie.svg"
                  alt=":( Not Found"
                />
                <div
                  class="flex items-center text-dark font-black m-height-[70px]"
                >
                  <h4 class="textcenter font-extrabold fs30">
                    Costumer Service
                  </h4>
                </div>
                <p class="fs18">
                  For account related enquiries non-technical questions
                </p>
                <span class="radiobtn"></span>
              </div>
            

              <div
                class="
                  flex flex-col
                   w-full
                  lg:w-1/3
                  items-center
                  mr-[15px]
                  mb-5
                  border border-[#D9E1E780]
                  shadow-card
                  c-card
                  rounded-2xl
                  h-[240px]
                "
              >
                <img
                  class="h-[86px]"
                  src="/images/icons/purse.svg"
                  alt=":( Not Found"
                />
                <div
                  class="flex items-center text-dark font-black m-height-[70px]"
                >
                  <h4 class="textcenter font-extrabold fs30">Sales Team</h4>
                </div>
                <p class="fs18">Any Pre-sale questions should be sent here</p>
                <span class="radiobtn"></span>
              </div>
              <!-- <div class="item w-31">
                <a href="" class="card shadow">
                  <div class="icon"><img src="/images/icons/purse.svg" /></div>
                  <h4 class="textcenter font-extrabold fs30">Sales Team</h4>
                  <p class="fs18">Any Pre-sale questions should be sent here</p>
                  <span></span>
                </a>
              </div> -->
            </div>
          </div>
          <div class="tabs" id="tab2" v-show="activeTab===1" >
            <h3 class="text-[32px] font-black mb5">EDIT TICKET</h3>
            <h4 class="text-[24px] text-[#5D5959] font-normal mb-[60px]">
              Ticket ID #1234GH76
            </h4>

            <div class="leading-3 text-[#B4B4B4] textupcase mb30">Step 2/3</div>
            <div class="mb-[40px]">
              <h4 class="text-[22px]">Please fill in your details</h4>
              <p>Fill in your details (All fields are required)</p>
            </div>

            <div class="form mb30 w-90">
              <div class="field mb-[20px]">
                <label>Your Email</label>
                <input type="text" class="txtbox" placeholder="[Autofill]" />
              </div>

              <div class="field mb-[20px]">
                <label>Start typing site name</label>
                <input type="text" class="txtbox" placeholder="[Autofill]" />
              </div>

              <div class="field disabled mb-[20px]">
                <label>Site Address</label>
                <input
                  type="text"
                  class="txtbox"
                  placeholder="[Autofill]"
                  disabled=""
                />
              </div>

              <div class="field mb-[20px]">
                <label>Choose Device</label>
                <input type="text" class="txtbox" placeholder="[Autofill]" />
              </div>
            </div>
          </div>
          <div class="tabs" id="tab3" v-show="activeTab===2">
            <h3 class="text-[32px] font-black mb5">EDIT TICKET</h3>
            <h4 class="text-[24px] text-[#5D5959] font-normal mb-[60px]">
              Ticket ID #1234GH76
            </h4>

            <div class="leading-3 text-[#B4B4B4] textupcase mb30">Step 3/3</div>
            <div class="mb-[40px]">
              <h4 class="text-[22px]">Please describe the issue</h4>
              <p></p>
            </div>

            <div class="form mb30 w-90">
              <div class="field mb-[20px]">
                <label>Subject</label>
                <input
                  type="text"
                  class="txtbox err"
                  placeholder="[Autofill]"
                />
                <span class="errortxt center"
                  ><span>Incorrect User name</span></span
                >
              </div>

              <div class="field mb-[20px]">
                <label>Message</label>
                <textarea class="txtbox" placeholder="[Autofill]"></textarea>
              </div>

              <div class="field mb-[20px]">
                <div class="mb15">
                  <label>Affected (Click to choose)</label>
                </div>
                <div class="flex flex-left">
                  <div class="rad mr-[40px]">
                    <input type="radio" id="r1" name="rad" />
                    <label for="r1"><span></span> Site working</label>
                  </div>

                  <div class="rad mr-[40px]">
                    <input type="radio" id="r2" name="rad" />
                    <label for="r2"><span></span> Site unstable</label>
                  </div>

                  <div class="rad">
                    <input type="radio" id="r3" name="rad" />
                    <label for="r3"><span></span> Site is down</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="flex flex-right justify-end items-baseline btnnextwrap">
                
                <a class="mr-[15px] link"
                @click="activeTab--" v-show="activeTab>0" 
                data-fancybox="" data-modal="true" >Back</a>
                <a 
                @click="activeTab++" v-show="activeTab<tabs.length-1"
                data-fancybox="" data-modal="true" class="btn next ">Next Step 
                <!-- <span>All fields are mandatory</span> -->
                </a>
                <a 
                 v-show="activeTab==tabs.length-1"
                data-fancybox="" data-modal="true" class="btn next ">Submit 
                <!-- <span>All fields are mandatory</span> -->
                </a>
            </div>
          
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from "../../components/Layout/Layout";
export default {
  components: {
    Layout,
  },
  data() {
    return { 
        isOpened: false,
        activeTab: 0,
        tabs: [
            { h4:"type of ASSISTANCE required", p:"Choose the type of support", img:"/images/icons/icon1.svg"  },
            { h4:"your detail", p:"Fill in your detail",img:"/images/icons/icon2.svg"  },
            { h4:"tell us how can we help", p:"Fill us in with all details",img:"/images/icons/icon3.svg"  },
           
        ] };
  },
  methods: {
    handleCloseModal() {
      this.isOpened = !this.isOpened;
    },
    handleSave() {
      this.isOpened = true;
    },
  },
};
</script>

<style scoped>
.radiobox  div.c-card{
    height: 240px;
}
.field {
  position: relative;
}
.btn.next.error {
    background: #E54F4F;
    position: relative;
}
.btn.next {
    padding: 0 30px;
    min-width: auto;
}
a.btn {
    font: bold 18px Lato;
        line-height: normal;
    color: #FEFEFE;
    background: #7FCC30;
    border-radius: 26px;
    display: inline-block;
    line-height: 46px;
    min-width: 170px;
    text-align: center;
    padding: 0 20px 0 15px;
}
.form label {
  margin-bottom: 5px;
  display: block;
}
textarea.txtbox {
    height: 170px;
    padding: 15px;
    width:100%;
}
.rad input + label {
    color: #B4B4B4;
}
.rad input + label span {
    width: 26px;
    height: 26px;
}
input[type="checkbox"], input[type="radio"] {
    width: auto;
    display: none;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: -1px;
    background: #fff;
    border: 1px solid #a0a0a0;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}
.txtbox {
  border: 1px solid #b4b4b4;
  border-radius: 16px;
  height: 66px;
  transition: 0.3s;
  color: #7fcc30;
  padding: 0 15px;
  width:100%;
}
.menuitem {
  height: 33.33%;
  text-align: center;
  width:100%;
}
.fs34 {
  font-size: 2.125em;
}
.fwlight {
  font-weight: 400;
}
.litegrey {
  color: #5d5959;
}
.fs24 {
  font-size: 1.5em;
}
.fs30 {
  font-size: 2em;
}
.smltxt2 {
  letter-spacing: 0.18px;
  color: #b4b4b4;
  display: block;
}

.radiobox a.card {
  background: #fff;
  text-align: center;
  margin-top: 0;
  padding: 15px;
}
.shadow {
  border: 1px solid #d9e1e7cc;
  box-shadow: 0px 0px 15px #00000029;
}
.card {
  border-radius: 16px;
  padding: 20px;
  display: block;
}
.radiobox .item .icon {
  height: 86px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}
.mb30 {
  margin-bottom: 30px;
}
.menuitem .itm {
  opacity: 0.6;
  display: block;
  width: 100%;
  padding: 0 20px;
  position: relative;
}
.menuitem .itm:hover {
  opacity: 1;
}
.menuitem .itm.active {
  opacity: 1;
}
.menuitem .itm.pointer::before {
  content: "";
  width: 40px;
  height: 50px;
  background: #f9f9f9;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
/* .menuitem a.active h4{

} */
.menuitem h4 {
  font-size: 22px;
  font-weight: 900;
  color: #06152b;
}
.menuitem .icon {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  z-index:1
}
.menuitem .icon img {
  margin: auto;
}
.textupcase {
  text-transform: uppercase;
}

.menuitem .itm.active .icon::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #7fcc30;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  top: 10px;
  transform: translateY(-50%);
  z-index: -1;
}
.btnnextwrap a:hover{
    cursor:pointer;
    /* float:right; */
}
</style>
