 <template>
  <Layout>
    <div class="relative h-full">
      <div
        class="
        hidden
          w-full
          lg:w-[410px]
          min-h-screen
          bg-[#F9F9F9]
          absolute
          top-0
          left-0
          transform
          transition
          duration-300
          z-40
          shadow-selectbox
        "
        :class="opened ? 'translate-x-0' : '-translate-x-full'"
      >
        <div class="flex items-center p-4 mb-[108px]">
          <img
            src="/images/back_hover.png"
            class="mr-4 cursor-pointer"
            @click="handleClose"
            alt=":( Not Found"
          />
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Closed Tickets Summary
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-10 flex flex-col items-center">
            <img src="/images/avatar/1.png" class="mb-7" alt=":( Not Found" />
            <span class="text-dark text-[22px] font-bold mb-1">
              Julie Mandol
            </span>
            <span class="text-base text-[#5D5959]">Glendora, Manager</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">EMAIL</span>
            <span class="text-lg text-dark font-bold">customer@email.com</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">PHONE</span>
            <span class="text-lg text-dark font-bold">+01 923 456 78</span>
          </div>
          <div class="flex flex-col items-center mb-16">
            <span class="text-sm text-gray font-bold">user type</span>
            <span class="text-lg text-dark font-bold">Tech</span>
          </div>
          <div class="flex flex-col items-center">
            <span class="text-base text-gray font-bold">Total Tickets</span>
            <span class="text-dark text-[36px]">120</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center p-4 mb-12">
          <router-link to="/customer/list">
            <img
              src="/images/back_hover.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Closed Tickets Summary
            </p>
          </div>
        </div>
        <div
          class="
            flex flex-col
            lg:flex-row
            items-center
            justify-between
            pl-5
            pr-4
          "
        >
         
          <div class="w-full lg:w-1/2 ml-5 mb-5">
            <Search :placeholder="placeholder"></Search>
          </div>
          <div class="hidden lg:w-1/2 flex justify-end">
            <!-- <router-link to="/customer/create">
              <Button class="flex items-center px-[27px] h-[47px]">
                <img src="/images/icons/plus.svg" alt=":( Not Found" />
                <span class="ml-2 text-lg">Open New Ticket</span>
              </Button>
            </router-link> -->
          </div>
          <div class="w-full mb-5 flex justify-end">
            <router-link to="/customer/create">
              <Button class="flex items-center px-[27px] h-[47px]">
                <img src="/images/icons/plus.svg" alt=":( Not Found" />
                <span class="ml-2 text-lg">Open New Ticket</span>
              </Button>
            </router-link>
          </div>
         
        </div>
        <!-- <div class="flex flex-row">
          <div class="w-1/2 ml-5 mb-5">
            <Search :placeholder="placeholder"></Search>
          </div>
          <div class="w-1/2"></div>
        </div> -->
        <div class="overflow ml-5 mr-5 x-auto mb-10">
          <div>
           
            <ClosedTicket v-for="(item, index) in ticketItemData" 
              :key="index"
              :PROJDOCNO= "item.PROJDOCNO"
              :PROJDES= "item.PROJDES"
              :project_description= "item.project_description"
              :project_id= "item.project_id"
              :ticket_type_description= "item.ticket_type_description"
              :user= "item.user"
              :ticket_priority_code= "item.ticket_priority_code"
              :ticket_id= "item.ticket_id"
              :subject= "item.subject"
              :last_update= "item.last_update"
              @click.native="openNewTicket(item.ticket_id)"
              >
            </ClosedTicket>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
// import axios from "axios";
import Button from "../../components/Button";
import Search from "../../components/Search";
import ClosedTicket from "../../components/ClosedTicket";
import Layout from "../../components/Layout/Layout.vue";
import EventServices from "../../services/EventServices.js";

export default {
  // currenticket:Object,
  components: {
    Button,
    Search,
    ClosedTicket,
    Layout,
  },
  props: {
    //currenticket:Object
  },
  data: function () {
    return {
      placeholder: "Search in tickets",
      ticketItemData: [],
      opened: false,
      currenticket: {},
    };
  },
  created() {
    EventServices.getClosedTicktet().then( response =>{
        console.log( response);
        this.ticketItemData= response.data.tickets;
    }
     ).catch( error => {
        console.log( error);
     })
  },
  methods: {
    handleSelect() {
      this.opened = true;
    },
    handleClose() {
      this.opened = false;
    },
    clicked(item) {
      this.currenticket = item;
    },
    openNewTicket(ticket_id){
      console.log(ticket_id);
    }
  },
};
</script>