<template>
  <Layout>
    <div class="h-full flex flex-col 2xl:flex-row">
      <div
        class="2xl:w-[516px] flex-shrink-0 bg-[#F9F9F9] shadow-selectbox p-4"
      >
        <div class="flex items-center mb-16">
          <router-link to="/customer/list">
            <img
              src="/images/back_hover.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <span class="text-[34px] font-black text-[#403C3C] leading-none">
              USERS
            </span>
            <span class="text-2xl text-[#5D5959] leading-7">
              New User / Edit User
            </span>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row 2xl:flex-col justify-between items-center">
          <div>
            <div class="mb-10">
              <AvatarUploader />
            </div>
            <div class="flex flex-col items-center font-bold mb-9">
              <span class="text-[22px] text-dark">Peter Robbins</span>
              <span class="text-base text-[#5D5959]">
                Sales & Marketing Director
              </span>
            </div>
          </div>
          <div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center font-bold mb-8">
              <span class="text-sm text-gray uppercase">company</span>
              <span class="text-lg text-dark">Company Name Here</span>
            </div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center font-bold mb-8">
              <span class="text-sm text-gray uppercase">EMAIL</span>
              <span class="text-lg text-dark">customer@email.com</span>
            </div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center font-bold mb-8">
              <span class="text-sm text-gray uppercase">PHONE</span>
              <span class="text-lg text-dark">+01 923 456 78</span>
            </div>
          </div>
          <div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center font-bold mb-8">
              <span class="text-sm text-gray uppercase">LOCATION</span>
              <span class="text-lg text-dark">
                7839 Williams Dr. Columbus, GA 31904
              </span>
            </div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center font-bold mb-8">
              <span class="text-sm text-gray uppercase">LAST LOGIN</span>
              <span class="text-lg text-dark">5 hours ago</span>
            </div>
            <div class="flex flex-col items-center lg:items-start 2xl:items-center">
              <span class="font-bold text-base text-dark mb-2">Status</span>
              <span
                class="
                  flex
                  justify-center
                  items-center
                  h-7
                  px-5
                  bg-success
                  rounded-md
                  text-white text-sm
                  font-bold
                "
              >
                Active
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full p-4 py-10 lg:p-20 xl:pt-[150px] xl:pl-20 xl:pr-9 xl:pb-[122px]">
        <p class="text-[22px] font-bold text-dark mb-10">Profile Settings</p>
        <div class="flex flex-wrap mx-[-22px] mb-10">
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Full Name"   />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Email (Only @[user domain] at this time)"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Company"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Direct Manager"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Country Code"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Phone Number"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Job Title"  />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="User Role" />
          </div>
          <div class="w-full lg:w-1/2 2xl:w-1/3 px-[22px] mb-11">
            <TextField label="Click to generate Password" />
          </div>
        </div>
        <div class="mb-[100px]">
          <label class="text-base text-gray flex mb-7">Notifications</label>
          <Checkbox label="Receive push notifications from this user" />
        </div>
        <Button class="w-[184px] h-[55px]" :onClick="handleSave">Save</Button>
      </div>
    </div>
    <Modal :opened="isOpened" :handleClose="handleCloseModal">
      
      <div class="flex flex-col items-center pt-16 pb-[120px]">
        <img src="/images/success.svg" class="mb-[52px]" alt=":( Not Found" />
        <p class="text-[34px] font-black text-[#403C3C] mb-[52px]">
          User saved/ updated
        </p>
        <p class="text-2xl text-dark mb-20">User successfully saved/ updated</p>
        <button
          class="w-[230px] h-12 bg-success rounded-full"
          @click="handleCloseModal"
        >
          <span class="text-white text-lg font-bold">Thanks</span>
        </button>
      </div>
      
    </Modal>
  </Layout>
</template>

<script>
import AvatarUploader from "../../components/AvatarUploader";
import Button from "../../components/Button";
import Checkbox from "../../components/Checkbox";
import Layout from "../../components/Layout/Layout";
import Modal from "../../components/Modal";
import TextField from "../../components/TextField";

export default {
  components: {
    AvatarUploader,
    Button,
    Checkbox,
    Layout,
    Modal,
    TextField,
  },
  data() {
    return { 
      isOpened: false,
      
      
      };
  },
  methods: {
    handleCloseModal() {
      this.isOpened = !this.isOpened;
    },
    handleSave() {

      this.isOpened = true;
    },
  },
};
</script>