<template>
  <Layout>
    <div class="relative">
      <Button
        class="h-12 px-6 text-lg font-bold absolute top-[146px] right-[34px]"
      >
        <div class="flex items-center text-lg">
          <img src="/images/icons/plus.svg" alt=":( Not Found" />
          <!-- <span class="ml-2">Open New Ticket</span> -->
          <span class="ml-2"
            ><router-link to="/customer/mytickets">
              Open My Ticket
            </router-link></span
          >
        </div>
      </Button>
      <div class="p-[50px]">
        <p class="text-[28px] font-black text-[#403C3C] uppercase mb-[75px]">
          hello [user_name]
        </p>
        <div class="flex">
          <div
            class="
              w-full
              md:w-2/4
              block
              xl:hidden
              max-w-full
              md:max-w-[306px]
              pt-6
              px-1
              mb-10
              md:mb-0
            "
          >
            <p class="text-[28px] text-[#403C3C] mb-3 font-black">SUPPORT</p>
            <p class="text-xl text-[#5D5959]">
              Here you can view all of your tickets, get updates on status and
              chat online with our support team and open new support ticket
            </p>
            <span class="ml-2"
              ><router-link to="/customer/thanku">
                Open My Ticket
              </router-link></span
            >
          </div>
          <img
            src="/images/pages/dashboard/support.svg"
            class="
              hidden
              md:flex
              w-3/5
              xl:w-full
              mb-8
              min-h-[250px]
              object-cover object-right
            "
            alt=":( Not Found"
          />
        </div>
        <div class="flex flex-wrap justify-between xl:px-0 2xl:px-20">
          <div class="w-1/4 hidden xl:block max-w-[306px] pt-6 px-1">
            <p class="text-[28px] text-[#403C3C] mb-3 font-black">SUPPORT</p>
            <p class="text-xl text-[#5D5959]">
              Here you can view all of your tickets, get updates on status and
              chat online with our support team and open new support ticket
            </p>
            <span class="ml-2 text-[#403C3C]"
              ><router-link to="/customer/thanku">
                Open Thank you
              </router-link></span
            >
          </div>
          <div class="w-full md:w-1/3 xl:w-1/4 px-1 mb-3">
            <div
              class="
                w-full
                h-[230px]
                flex flex-col
                justify-center
                items-center
                border border-[#D9E1E780]
                shadow-card
                rounded-2xl
              "
              @click="closedTickets()"
            >
              <img
                src="/images/pages/dashboard/closed.svg"
                class="w-[85px] h-[85px] object-contain"
                alt=":( Not Found"
              />
              <div class="flex items-center text-dark font-black">
                <span class="text-[71px] leading-none">5</span>
                <span class="text-base leading-5 ml-[5px]">
                  Closed<br />
                  tickets
                </span>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 xl:w-1/4 px-1 mb-3">
            <div
              class="
                w-full
                h-[230px]
                flex flex-col
                justify-center
                items-center
                border border-[#D9E1E780]
                shadow-card
                rounded-2xl
              "
            >
              <img
                src="/images/pages/dashboard/opened.svg"
                class="w-[85px] h-[85px] object-contain"
                alt=":( Not Found"
              />
              <div class="flex items-center text-dark font-black">
                <span class="text-[71px] leading-none">4</span>
                <span class="text-base leading-5 ml-[5px]">
                  Open <br />
                  tickets
                </span>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 xl:w-1/4 px-1 mb-3">
            <div
              class="
                w-full
                h-[230px]
                flex flex-col
                justify-center
                items-center
                border border-[#D9E1E780]
                shadow-card
                rounded-2xl
              "
            >
              <img
                src="/images/pages/dashboard/partner.svg"
                class="w-[85px] h-[85px] object-contain"
                alt=":( Not Found"
              />
              <div class="flex items-center text-dark font-black">
                <span class="text-[71px] leading-none">12</span>
                <span class="text-base leading-5 ml-[5px]">
                  Partners<br />
                  ticket status
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from "../../components/Layout/Layout";
import Button from "../../components/Button";

export default {
  components: {
    Button,
    Layout,
  },
  methods: {
    closedTickets() {
      this.$router.push("/customer/myticketsclosed");
    },
  },
};
</script>
