<template>
  <Layout>
    <div class="px-12 py-4 mb-8">
      <p class="text-[34px] font-black text-[#403C3C]">USERS</p>
      <p class="text-2xl text-[#5D5959] leading-4">
        <span v-if="active">Active users</span>
        <span v-else>Not Active users</span>
      </p>
    </div>
    <div
      class="
        flex flex-col
        lg:flex-row
        items-center
        justify-between
        pl-9
        pr-4
        mb-10
      "
    >
      <div class="mb-2 lg:mb-0">
        <div class="flex flex-col md:flex-row items-center mr-3">
          <div class="flex items-center">
            <img src="/images/icons/filter.svg" alt=":( Not Found" />
            <span class="text-sm font-bold text-gray ml-1 mr-3">Filter by</span>
            <select
              class="
                min-w-[132px]
                h-[27px]
                rounded-[7px]
                bg-white
                shadow-selectbox
                outline-none
                text-sm
                font-bold
                px-3
                text-gray
              "
            >
              <option>All(122)</option>
              <option>Tech(35)</option>
              <option>Sale(52)</option>
            </select>
          </div>
          <div class="text-sm font-bold pl-8 pr-4">
            <span
              class="text-success pr-6 cursor-pointer"
              @click="active = !active"
            >
              <span v-if="active"> Not Active users </span>
              <span v-else> Active users </span>
            </span>
            <span class="text-gray">(45)</span>
          </div>
          <div class="flex items-center">
            <span class="text-success pr-9 cursor-pointer">
              <span v-if="active"> Not Active users </span>
              <span v-else> Active users </span>
            </span>
            <img src="/images/icons/magnifer.svg" alt=":( Not Found" />
          </div>
        </div>
      </div>
      <router-link to="/customer/create">
        <Button class="flex items-center px-[45px] h-[47px]">
          <img src="/images/icons/plus.svg" alt=":( Not Found" />
          <span class="ml-2 text-lg">Add User</span>
        </Button>
      </router-link>
    </div>
    <div class="overflow-x-auto mb-10">
      <table class="min-w-[1000px] w-full text-base">
        <thead>
          <tr>
            <th v-for="(col, index) in cols" :key="index">
              <div class="flex items-center">
                <span
                  class="text-[11px] font-black text-[#5D5959] uppercase mr-3"
                >
                  {{ col.name }}
                </span>
                <img
                  v-if="col.sortable"
                  src="/images/icons/sort.svg"
                  alt=":( Not Found"
                />
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(row, index) in rows"
            :key="index"
            class="
              h-[72px]
              relative
              hover:z-10
              bg-white
              cursor-pointer
              hover:shadow-tabletr
            "
          >
            <td class="pl-9">
              <!-- <img
                :src="row.avatar"
                class="w-12 h-12 rounded-[10px]"
                v-if="row.avatar"
                alt=":( Not Found"
              /> -->
              <div
                class="
                  flex
                  items-center
                  justify-center
                  w-12
                  h-12
                  rounded-[10px]
                  bg-success
                  text-2xl
                  font-bold
                  text-white
                "
              >
                {{ row.firstname[0] }}
              </div>
            </td>
            <td>
              <div class="flex flex-col">
                <span class="text-lg">
                  {{ row.firstname }} {{ row.lastname }}
                </span>
                <span class="text-success font-bold text-[13px]">
                  {{ row.company }}
                </span>
              </div>
            </td>
            <td>
              <span>{{ row.jobTitle }}</span>
            </td>
            <td>
              <span
                class="
                  inline-flex
                  w-16
                  justify-center
                  items-center
                  h-7
                  rounded-full
                  text-base
                  font-bold
                  border
                "
                :class="
                  row.parterType === 'Tech'
                    ? 'text-primary border-prmary'
                    : 'text-pink border-pink'
                "
              >
                {{ row.parterType }}
              </span>
            </td>
            <td>
              <span>{{ row.manager }}</span>
            </td>
            <td>
              <span>{{ row.email }}</span>
            </td>
            <td>
              <span>{{ row.phone }}</span>
            </td>
            <td>
              <div class="flex items-center text-base font-bold">
                <span
                  class="w-2.5 h-2.5 rounded-full mr-1.5"
                  :class="row.active ? 'bg-success' : 'bg-danger'"
                ></span>
                <span class="text-success" v-if="row.active">Active</span>
                <span class="text-danger" v-else>Not Active</span>
              </div>
            </td>
            <td>
              <span>{{ row.date }}</span>
            </td>
            <td class="text-center">
              <router-link to="/customer/create">
                <img src="/images/icons/edit.svg" alt=":( Not Found" />
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </Layout>
</template>

<script>
import Button from "../../components/Button";
import Layout from "../../components/Layout/Layout.vue";

export default {
  components: {
    Button,
    Layout,
  },
  data: function () {
    return {
      active: true,
      cols: [
        { name: "" },
        { name: "Name / company", sortable: true },
        { name: "Job Title", sortable: true },
        { name: "PARTNER  Type", sortable: true },
        { name: "Manager", sortable: true },
        { name: "Email", sortable: true },
        { name: "Phone", sortable: true },
        { name: "Status", sortable: true },
        { name: "Date", sortable: true },
        { name: "Edit" },
      ],
      rows: [
        {
          firstname: "Julie",
          lastname: "Mandol",
          company: "Glendora",
          avatar: "/images/pages/customer/users/1.png",
          jobTitle: "Sales Manager",
          parterType: "Tech",
          manager: "Ben Williams",
          email: "JC@abcd.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Marc",
          lastname: "Stegen",
          company: "Glendora",
          avatar: "/images/pages/customer/users/2.png",
          jobTitle: "Executive Manager",
          parterType: "Tech",
          manager: "Jack Armstrong",
          email: "JC@abcd.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Peter",
          lastname: "Crouch",
          company: "Glendora",
          jobTitle: "Director of Sales",
          parterType: "Tech",
          manager: "Dov Glickman",
          email: "mm@ggfdf.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Jason",
          lastname: "Mason",
          company: "Glendora",
          jobTitle: "Deputy Sales Director",
          parterType: "Tech",
          manager: "Frank Sinatra",
          email: "dq@dfaw.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Kevin",
          lastname: "Louds",
          company: "Glendora",
          avatar: "/images/pages/customer/users/3.png",
          jobTitle: "Chief Executive",
          parterType: "Tech",
          manager: "Ben Armstrong",
          email: "JC@abcd.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Mark",
          lastname: "Jones",
          company: "Glendora",
          avatar: "/images/pages/customer/users/4.png",
          jobTitle: "Assistant Sales",
          parterType: "Sales",
          manager: "Jerry Mcsulivan",
          email: "bb@efgh.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Julia",
          lastname: "Watkins",
          company: "Glendora",
          avatar: "/images/pages/customer/users/5.png",
          jobTitle: "Deputy Sales Director",
          parterType: "Tech",
          manager: "Dov Glickman",
          email: "mm@ggfdf.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Dean",
          lastname: "Harris",
          company: "Glendora",
          avatar: "/images/pages/customer/users/6.png",
          jobTitle: "Sales Diretor",
          parterType: "Sales",
          manager: "Frank Sinatra",
          email: "dq@dfaw.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
        {
          firstname: "Julie",
          lastname: "Mandol",
          company: "Glendora",
          jobTitle: "Marketing Director",
          parterType: "Sales",
          manager: "Dov Glickman",
          email: "mm@ggfdf.com",
          phone: "123-12345-678",
          active: true,
          date: "12/3/2021",
        },
      ],
    };
  },
};
</script>
