<template>
  <Layout>
    <div class="relative h-full">
      <div class="absolute top-0 left-0">
        <div class="flex items-center p-4 mb-12">
          <!-- <router-link to="/customer/list">
            <img
              src="/images/back.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link> -->
          <div class="flex flex-col ml-[10px]">
            <p
              class="
                text-3xl
                font-black
                text-[#403C3C]
                uppercase
                mb-0
              "
            >
              My Messages
            </p>
            <p class="text-2xl lg:text-2xl text-[#5D5959] ">Inbox</p>
          </div>
        </div>
      </div>
      <div class="w-full flex flex-row">
        <div
          class="
            w-3/10
            pt-32
            flex flex-col
            justify-around
            h-full
            min-h-screen
            bg-[#F9F9F9]
          "
        >
        <div class="pt-[10px] pb-[10px] pl-[30px] pr-[30px] ">
            <Search placeholder="Search inbox"></Search>
        </div>
        <div class="filterwrap pt-[10px] pb-[10px] pl-[30px] pr-[30px] mb-[20px] ">						
							<div class="flex items-center  w-full left">
								<div class="filterby"><span class="material-icons">filter_alt</span> Filter by</div>
								
								<div class="filterselect">
									<select>
										<option>All (122)</option>
									</select>
								</div>
							</div>
							
							<div class="btnholder flex mt-[5px]"><a href="" class="btn">
                <i class="material-icons">add</i> New Message</a>
              </div>
						</div>
            <div class="msghead text-[#B4B4B4]  pb-[10px] pl-[30px] pr-[30px] mb-[20px]">						
							<div class="flex justify-left items-center">
								<div class="totalmsg mr-[20px]">Total (12)</div>
								<div class="readmsg mr-[20px]"><a href=""><span class="material-icons grn text-[#8BD144] text-xs">email</span> Read (10)</a></div>
								<div class="unreadmsg mr-[20px]"><a href=""><span class="material-icons text-xs">drafts</span> Unread (2)</a></div>
							</div>
						</div>
          <div class="max-h-[600px] overflow-auto">
            <MessageItem
              v-for="(item, index) in inboxItemData"
              :key="index"
              :variant="item.variant"
              :salesIcon="item.salesIcon"
              :msgSubject="item.msgSubject"
              :msgContent="item.msgContent"
              :msgDate="item.msgDate"
              :msgTime="item.msgTime"
              :readStatus="item.readStatus"
              :msgStatus="item.msgStatus"
              @click.native="clicked(item)"
            >
            </MessageItem>
          </div>
        </div>
        <div class="w-7/10 mt-16 p-[30px] pb-[25px]">
          <div class="detail-right h-full p-[30px]">
            <div class="msgbox ">
              <div class="msgdetailwrap pt-0">
                <div class="font-[13px] text-[#5D5959] mb-[30px]">
                  <div class="flex items-center justify-between">
                    <div class="lft max-w-[360px] flex items-center">
                      <div class="msgicon w-[50px]">
                        <img :src="currentMsg.salesIcon" />
                      </div>
                      <div class="msgtext ml-[25px]">
                        <h4 class="text-[#5D5959] text-sm font-semibold mb-2">Asocs Support</h4>
                        <p class="text-[#5D5959] text-xs mb-0">15th September | 10:14 AM</p>
                      </div>
                    </div>

                    <div class="rgt flex flexv-center">
                      <a href="" class="grn text-[#8BD144] ml-[20px]"
                        ><span class="material-icons-outlined">reply</span></a
                      >
                      <a href="" class="grey text-[#B4B4B4] ml-[20px]"
                        ><span class="material-icons-outlined">delete</span></a
                      >
                    </div>
                  </div>
                </div>

                <div class="msgbody">
                  <p><b>Subject: New License Request</b></p>
                  <p>
                    Dear Costumer, <br />
                    We have received your license request number 123456, to
                    process your request please supply a purchase order.<br />
                    Attached is a detailed document.<br /><br /><br />
                    Best Regards,<br />
                    Asocs Licencing Team
                  </p>

                  <div class="attachment">
                    <div class="fileicon flex flexv-center">
                      <div class="fileimg"><img src="images/icons/fileicon.png" /></div>
                      <div class="filename">
                        Licence_Request_123456 PDF · 1MB
                      </div>
                    </div>
                    <div class="dfile">
                      <span class="material-icons">get_app</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->

              <div class="msgdetailwrap reply">
                <div class="msgheadtitle mb-[30px]">
                  <div class="flex justify-between">
                    <div class="lft max-w-[360px] flex items-center ">
                      <a href="" class="grn text-[#8BD144]"
                        ><span class="material-icons-outlined">reply</span></a
                      >
                      <div class="msgicon ml-[25px]"><span class="name">JB</span></div>
                      <div class="msgtext ml-[25px]">
                        <h4 class="text-[#5D5959] text-sm font-semibold mb-2">Asocs Support</h4>
                        <p class="text-[#5D5959] text-xs mb-0">5th September | 10:14 AM</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="msgbody">
                  <p><b>Re: New License Request</b></p>
                  <p>Thank you for your reply |</p>

                  <div class="attach pt-[20px] pb-[20px]">
                    <span class="material-icons text-[#b4b4b4]">attach_file</span>
                  </div>

                  <button class="submit small">Send</button>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="createmailpop" style="display: none">
              <div class="overlay"></div>
              <div class="popinn">
                <div class="msgheading">New message</div>
                <input type="text" class="input" placeholder="To" />
                <textarea class="input" placeholder="Subject"></textarea>

                <div class="popbtm flex flexv-center">
                  <div class="lft flex flexv-center">
                    <button class="submit small">Send</button>
                    <a href=""
                      ><span class="grey material-icons">attach_file</span></a
                    >
                  </div>
                  <div class="rgt">
                    <a href="" class="grey"
                      ><span class="material-icons-outlined">delete</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>



<script>
import Layout from "../../components/Layout/Layout";
import Search from "../../components/Search";
import MessageItem from "../../components/MessageItem";

export default {
  components: {
    MessageItem,
    Search,
    Layout,
  },
  data() {
    return {
      isOpened: false,
      inboxItemData: [
        {
          variant: "",
          salesIcon: "/images/icons/support-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98013",
          msgDate: "12 Dec",
          msgTime: "6:00 PM",
          readStatus: "unread",
          msgStatus: "old",
        },
        {
          variant: "",
          salesIcon: "/images/icons/sales-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98015",
          msgDate: "15 Dec",
          msgTime: "8:00 PM",
          readStatus: "read",
          msgStatus: "new",
        },
        {
          variant: "",
          salesIcon: "/images/icons/support-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98013",
          msgDate: "12 Dec",
          msgTime: "6:00 PM",
          readStatus: "unread",
          msgStatus: "old",
        },
        {
          variant: "",
          salesIcon: "/images/icons/sales-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98015",
          msgDate: "15 Dec",
          msgTime: "8:00 PM",
          readStatus: "read",
          msgStatus: "new",
        },
        {
          variant: "",
          salesIcon: "/images/icons/support-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98013",
          msgDate: "12 Dec",
          msgTime: "6:00 PM",
          readStatus: "unread",
          msgStatus: "old",
        },
        {
          variant: "",
          salesIcon: "/images/icons/sales-icon.svg",
          msgSubject: "Asocs Support",
          msgContent: "Asocs Support closed ticket 98015",
          msgDate: "15 Dec",
          msgTime: "8:00 PM",
          readStatus: "read",
          msgStatus: "new",
        },
      ],
      currentMsg: {},
    };
  },
  methods: {
    handleCloseModal() {
      this.isOpened = !this.isOpened;
    },
    handleSave() {
      this.isOpened = true;
    },
    clicked(item) {
      this.currentMsg = item;
    },
  },
};
</script>

<style scoped>
p {
    line-height: 1.5;
}
p {
    line-height: 1.3;
    margin-bottom: 10px;
}
.msgdetailwrap:last-child {
    border: 0;
}

::selection {

    color: #fff;
    background: #000;

}
.msghead span {
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    top: -1px;
}
::selection {

    color: #fff;
    background: #000;

}
a.btn {
    font: bold 18px Lato;
        line-height: normal;
    color: #FEFEFE;
    background: #7FCC30;
    border-radius: 26px;
    display: inline-block;
    line-height: 46px;
    min-width: 170px;
    text-align: center;
    padding: 0 20px 0 15px;
}
.btn i {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-weight: bold;
}
.filterby {

    color: #B4B4B4;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;

}
.attachment {
    display: inline-flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
    padding: 8px 16px;
    margin-top: 10px;
}
.dfile {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 8%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B4B4B4;
    margin-left: 20px;
}
.filterselect select {
    background: #fff;
    color: #B4B4B4;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.msgdetailwrap:first-child {
    padding-top: 0;
}
.msgdetailwrap {
    border-bottom: 2px solid #9ACE5A;
    padding: 40px 0;
        padding-top: 40px;
}
.msgitem:hover {
    background: #FEFEFE;
    box-shadow: 0 0 20px rgb(0 0 0 /10%);
}
.msgicon .name {
    width: 50px;
    height: 50px;
    background: #3B38B5;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0;
}
.name {
    position: relative;
    padding: 10px 30px 0 10px;
}
.msgtext {
    width: calc(100% - 70px);
    position: relative;
}
.submit.small {
    width: auto;
    padding: 0 40px;
    height: 50px;
}
.submit {
    font: bold 23px Lato;
    color: #FEFEFE;
    background: #7FCC30;
    border-radius: 26px;
    height: 55px;
}
</style>