 <template>
  <Layout>
    <div class="relative h-full">
      <div
        class="
          hidden
          w-full
          lg:w-[410px]
          min-h-screen
          bg-[#F9F9F9]
          absolute
          top-0
          left-0
          transform
          transition
          duration-300
          z-40
          shadow-selectbox
        "
        :class="opened ? 'translate-x-0' : '-translate-x-full'"
      >
        <div class="flex items-center p-4 mb-[108px]">
          <img
            src="/images/back_hover.png"
            class="mr-4 cursor-pointer"
            @click="handleClose"
            alt=":( Not Found"
          />
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Open Tickets Summary
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-10 flex flex-col items-center">
            <img src="/images/avatar/1.png" class="mb-7" alt=":( Not Found" />
            <span class="text-dark text-[22px] font-bold mb-1">
              Julie Mandol
            </span>
            <span class="text-base text-[#5D5959]">Glendora, Manager</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">EMAIL</span>
            <span class="text-lg text-dark font-bold">customer@email.com</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">PHONE</span>
            <span class="text-lg text-dark font-bold">+01 923 456 78</span>
          </div>
          <div class="flex flex-col items-center mb-16">
            <span class="text-sm text-gray font-bold">user type</span>
            <span class="text-lg text-dark font-bold">Tech</span>
          </div>
          <div class="flex flex-col items-center">
            <span class="text-base text-gray font-bold">Total Tickets</span>
            <span class="text-dark text-[36px]">120</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center p-4 mb-12">
          <router-link to="/customer/list">
            <img
              src="/images/back_hover.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Open Tickets Summary - My users
            </p>
          </div>
        </div>

        <!-- <div class="flex flex-row">
          <div class="w-full lg:w-1/2 ml-5 mr-5 lg:mr-0 mb-5">
           <TicketStatus
              class="mb-5"
              v-for="(status, index) in statusData"
              :key="index"
              :type="status.type"
              :statusName="status.statusName"
              :statusCount="status.statusCount"
            >
            </TicketStatus>
            <Search :placeholder="placeholder"></Search>
          </div>
          <div class="hidden lg:w-1/2"></div>
        </div> -->
        <div class="overflow ml-5 mr-5 lg:mr-0 x-auto mb-10">
          <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/2 lg:ml-4">
              <div class="mb-5">
                <div class="w-full flex flex-row flex-wrap justify-between">
                <TicketStatus
                  class=" mb-5"
                  v-for="(status, index) in statusData"
                  :key="index"
                  :type="status.type"
                  :statusName="status.statusName"
                  :statusCount="status.statusCount"
                >
                </TicketStatus>
                </div>
                <Search class="w-full" :placeholder="placeholder"></Search>
              </div>
              <div>
                <TicketItem
                  v-for="(item, index) in ticketItemData"
                  :key="index"
                  :variant="item.variant"
                  :ticketStatus="item.ticketStatus"
                  :ticketId="item.ticketId"
                  :ticketMessage="item.ticketMessage"
                  :ticketTime="item.ticketTime"
                  :ticketAssign="item.ticketAssign"
                  :ticketType="item.ticketType"
                  :ticketPriority="item.ticketPriority"
                  :ticketMessageCount="item.ticketMessageCount"
                  @click.native="clicked(item)"
                >
                </TicketItem>
              </div>
            </div>
            <div class="w-full lg:w-1/2 lg:pl-5 lg:pr-4">
              <div class="flex flex-col sm:flex-row items-center justify-between sm:mb-5  lg:mb-16 ">
                <div class="w-full mb-5 sm:w-1/2 sm:mb-0">
                  <Search :placeholder="placeholder"></Search>
                </div>
                <div class="w-full mb-5 sm:w-1/2 sm:ml-5 sm:mb-0">
                  <router-link to="/customer/create">
                    <Button class="flex items-center px-[27px] h-[47px]">
                      <img src="/images/icons/plus.svg" alt=":( Not Found" />
                      <span class="ml-2 text-lg">Open New Ticket</span>
                    </Button>
                  </router-link>
                </div>
              </div>
              <div class="ticket-desc flex">
                <div class="lft w-22">
                  <div class="txt tid">
                    <span class="textupcase smltxt">TICKET ID</span
                    ><span>{{ currenticket.ticketId }}</span>
                  </div>
                  <div class="txt">
                    <span class="textupcase smltxt">Device</span> Name of
                    Product/ device
                  </div>
                </div>
                <div class="rgt w-75">
                  <div class="txt">
                    <span class="textupcase smltxt">TEXT</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Proin pretium odio vel magna porttitor cursus. Nunc
                      commodo lectus a sem porta, sit amet commodo metus
                      molestie…
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <Chat> </Chat>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Button from "../../components/Button";
import TicketStatus from "../../components/TicketStatus";
import TicketItem from "../../components/TicketItem";
import Search from "../../components/Search";
import Chat from "../../components/Chat";
import Layout from "../../components/Layout/Layout.vue";

export default {
  // currenticket:Object,
  components: {
    Button,
    TicketStatus,
    TicketItem,
    Search,
    Chat,
    Layout,
  },
  props: {
    //currenticket:Object
  },
  data: function () {
    return {
      placeholder: "Search in tickets",
      statusData: [
        { type: "STATUS", statusName: "Open", statusCount: 1 },
        { type: "STATUS", statusName: "Pending", statusCount: 1 },
        { type: "STATUS", statusName: "On Hold", statusCount: 1 },
        { type: "PRIORITY", statusName: "High", statusCount: 1 },
        { type: "PRIORITY", statusName: "Medium", statusCount: 1 },
        { type: "PRIORITY", statusName: "Low", statusCount: 1 },
      ],
      ticketItemData: [
        {
          ticketStatus: "On Hold",
          variant: "hold",
          ticketId: "#09876r44",
          ticketMessage: "Problem reseting device",
          ticketTime: "34 min ago",
          ticketAssign: "Not Specified",
          ticketType: "New Feature Request",
          ticketPriority: "Medium",
          ticketMessageCount: 3,
        },
        {
          ticketStatus: "Open",
          ticketId: "#1236h67",
          variant: "open",
          ticketMessage: "Coverage in new device",
          ticketTime: "12/03/2021 06:15",
          ticketAssign: "Not Specified",
          ticketType: "New Feature Request",
          ticketPriority: "High",
          ticketMessageCount: 2,
        },
        {
          ticketStatus: "Pending",
          ticketId: "#09876r44",
          variant: "pending",
          ticketMessage: "Problem reseting device",
          ticketTime: "34 min ago",
          ticketAssign: "Not Specified",
          ticketType: "New Feature Request",
          ticketPriority: "Medium",
          ticketMessageCount: null,
        },
        {
          ticketStatus: "On Hold",
          variant: "hold",
          ticketId: "#09876r44",
          ticketMessage: "Problem reseting device",
          ticketTime: "34 min ago",
          ticketAssign: "Not Specified",
          ticketType: "New Feature Request",
          ticketPriority: "Medium",
          ticketMessageCount: 3,
        },
      ],
      opened: true,
      currenticket: {},
    };
  },
  methods: {
    handleSelect() {
      this.opened = true;
    },
    handleClose() {
      this.opened = false;
    },
    clicked(item) {
      this.currenticket = item;
    },
  },
};
</script>
<style scoped>
.ticket-desc {
  border-bottom: 1px solid rgb(92 89 89 / 50%);
  line-height: 1.4;
  padding: 0 5px 15px;
  margin-bottom: 20px;
}
.tid .textupcase {
  display: inline;
  color: #5d5959;
  margin-right: 5px;
}
.smltxt {
  font-size: 11px;
  letter-spacing: 0.18px;
  color: #b4b4b4;
  font-weight: 700;
  display: block;
}
.textupcase {
  text-transform: uppercase;
}
</style>