<template>
  <Layout>
    <div class="h-full flex flex-col 2xl:flex-row">
      <div
        class="2xl:w-[516px] flex-shrink-0 bg-[#F9F9F9] shadow-selectbox p-4"
      >
        <div class="flex items-center mb-16">
          <router-link to="/customer/list">
            <img
              src="/images/back_hover.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <span class="text-[34px] font-black text-[#403C3C] leading-none">
              SUPPORT
            </span>
            <span class="text-2xl text-[#5D5959] leading-7">
              New Support Ticket
            </span>
          </div>
        </div>
        <div
          class="
          w-2/5
            flex flex-col
            lg:flex-row
            2xl:flex-col
            items-center
          "
        >
          <div class="thanku-left w-full">
            <ul>
              <li class="mb-10">
                <h3>Ticket</h3>
                <p>#123GGJ7654</p>
              </li>
              <li class="mb-10">
                <h4>From</h4>
                <a href="mailto:email@email.com">Email@email.com</a>
              </li>
              <li class="mb-10">
                <h4>Subject</h4>
                <span>Device crushed site</span>
              </li>
              <li class="mb-10">
                <h4>Affected</h4>
                <span>Site is down</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-between thanku-right mt-16 w-3/5">
        <h1 class="green fs80">THANK YOU</h1>
        <p>Dear costumer,</p>
        <p>
          We received your ticket submission, details as stated on the left hand
          side. <br />
          <b
            >Please contact Sharon, our lead tech support manager at: <br />
            +972.12.123456 for immediate assistance.</b
          >
        </p>
        <p>Yours,</p>
        <p>
          <img src="/images/logo.svg" /> You can view your support ticket status
          under “My tickets”
          <a href="" class="ques"
            ><span class="material-icons">help_outline</span></a
          >
        </p>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from "../../components/Layout/Layout";

export default {
  components: {
    Layout
  },
  data() {
    return { isOpened: false };
  },
  methods: {
    handleCloseModal() {
      this.isOpened = !this.isOpened;
    },
    handleSave() {
      this.isOpened = true;
    },
  },
};
</script>

<style scoped>
.thanku-left {
  background: #f9f9f9;
  padding: 70px 0;
  position: sticky;
  height: 100%;
}

.thanku-left ul {
  padding: 50px 0 0 50px;
}

ul,
ol {
  list-style: none;
  display: block;
}

.w-30 {
  width: 30%;
}

.thanku-left ul h3 {
  color: #06152b;
  font-size: 2.25em;
  font-weight: 900;
}

.thanku-left ul p {
  font: normal 1.325em Lato;
  letter-spacing: 0.22px;
  color: #5d5959;
}

p:last-child {
  margin-bottom: 0px;
}

.thanku-left ul h4 {
  font: bold 1.325em Lato;
  letter-spacing: 0.22px;
  color: #06152b;
  margin-bottom: 0;
}

left ul a {
  font: normal 1.125em Lato;
  letter-spacing: 0.22px;
  color: #5d5959;
}

a,
span {
  display: inline-block;
}

.thanku-left ul span,
.thanku-left ul a {
  font: normal 1.125em Lato;
  letter-spacing: 0.22px;
  color: #5d5959;
}

.thanku-right {
    padding: 70px;
    height: 100%;
}

.w-70 {
    width: 70%;
}

.thanku-right h1 {
    font: 900 5em Lato;
    color: #7FCC30;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.thanku-right p {
    font: 400 1.325em Lato;
    letter-spacing: 0.22px;
    color: #06152B;
    margin-bottom: 40px;
    line-height: 1.7;
}

img {
    display: block;
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    max-height: 100%;
}

.ques {
    color: #7FCC30;
    vertical-align: middle;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}


</style>