 <template>
  <Layout>
    <div class="relative h-full">
      <div
        class="
          
          w-full
          lg:w-[410px]
          min-h-screen
          bg-[#F9F9F9]
          absolute
          top-0
          left-0
          transform
          transition
          duration-300
          z-40
          shadow-selectbox
        "
        :class="opened ? 'translate-x-0' : '-translate-x-full'"
      >
        <div class="flex items-center p-4 mb-[108px]">
          <img
            src="/images/back_hover.png"
            class="mr-4 cursor-pointer"
            @click="handleClose"
            alt=":( Not Found"
          />
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Open Tickets Summary
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-10 flex flex-col items-center">
            <img src="/images/avatar/1.png" class="mb-7" alt=":( Not Found" />
            <span class="text-dark text-[22px] font-bold mb-1">
              Julie Mandol
            </span>
            <span class="text-base text-[#5D5959]">Glendora, Manager</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">EMAIL</span>
            <span class="text-lg text-dark font-bold">customer@email.com</span>
          </div>
          <div class="flex flex-col items-center mb-8">
            <span class="text-sm text-gray font-bold">PHONE</span>
            <span class="text-lg text-dark font-bold">+01 923 456 78</span>
          </div>
          <div class="flex flex-col items-center mb-16">
            <span class="text-sm text-gray font-bold">user type</span>
            <span class="text-lg text-dark font-bold">Tech</span>
          </div>
          <div class="flex flex-col items-center">
            <span class="text-base text-gray font-bold">Total Tickets</span>
            <span class="text-dark text-[36px]">120</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center p-4 mb-12">
          <router-link to="/customer/list">
            <img
              src="/images/back_hover.png"
              class="mr-4 cursor-pointer"
              alt=":( Not Found"
            />
          </router-link>
          <div class="flex flex-col">
            <p
              class="
                text-[28px]
                lg:text-[34px]
                font-black
                text-[#403C3C]
                leading-10
              "
            >
              My Tickets
            </p>
            <p class="text-xl lg:text-2xl text-[#5D5959] leading-4">
              Open Tickets Summary - My users
            </p>
          </div>
        </div>
        <div
          class="
            flex flex-col
            lg:flex-row
            items-center
            justify-between
            pl-9
            pr-4
            mb-10
          "
        >
          <div>
            <div class="flex flex-col lg:flex-row items-center lg:mr-3">
              <div class="flex items-center">
                <img src="/images/icons/filter.svg" alt=":( Not Found" />
                <span class="text-sm font-bold text-gray ml-1 mr-3">
                  Filter by
                </span>
                <select
                  class="
                    min-w-[132px]
                    h-[27px]
                    rounded-[7px]
                    bg-white
                    shadow-selectbox
                    outline-none
                    text-sm
                    font-bold
                    px-3
                    text-gray
                  "
                >
                  <option>All(122)</option>
                  <option>Tech(35)</option>
                  <option>Sale(52)</option>
                </select>
              </div>
              <div class="flex items-center lg:ml-8">
                <span class="text-success font-bold pr-9 cursor-pointer">
                  Search in active users
                </span>
                <img src="/images/icons/magnifer.svg" alt=":( Not Found" />
              </div>
            </div>
          </div>
          <router-link to="/customer/create">
            <Button class="flex items-center px-[27px] h-[47px]">
              <img src="/images/icons/plus.svg" alt=":( Not Found" />
              <span class="ml-2 text-lg">Open New Ticket</span>
            </Button>
          </router-link>
        </div>
        <div class="overflow-x-auto mb-10">
          <table class="w-full text-base min-w-[1200px]">
            <thead>
              <tr>
                <th v-for="(col, index) in cols" :key="index">
                  <div class="flex items-center">
                    <span
                      class="
                        text-[11px]
                        font-black
                        text-[#5D5959]
                        uppercase
                        mr-3
                      "
                    >
                      {{ col.name }}
                    </span>
                    <img
                      v-if="col.sortable"
                      src="/images/icons/sort.svg"
                      alt=":( Not Found"
                    />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(row, index) in rows"
                :key="index"
                @click="handleSelect"
                class="
                  h-[72px]
                  relative
                  hover:z-10
                  bg-white
                  cursor-pointer
                  hover:shadow-tabletr
                "
              >
                <td class="pl-9">
                  <img
                    :src="row.avatar"
                    class="w-12 h-12 rounded-[10px]"
                    v-if="row.avatar"
                    alt=":( Not Found"
                  />
                  <div
                    class="
                      flex
                      items-center
                      justify-center
                      w-12
                      h-12
                      rounded-[10px]
                      bg-success
                      text-2xl
                      font-bold
                      text-white
                    "
                    v-else
                  >
                    {{ row.firstname[0] }}{{ row.lastname[0] }}
                  </div>
                </td>
                <td>
                  <div class="flex flex-col">
                    <span class="text-lg">
                      {{ row.firstname }} {{ row.lastname }}
                    </span>
                    <span class="text-success font-bold text-[13px]">
                      {{ row.company }}
                    </span>
                  </div>
                </td>
                <td>
                  <span>{{ row.jobTitle }}</span>
                </td>
                <td>
                  <span
                    class="
                      inline-flex
                      w-16
                      justify-center
                      items-center
                      h-7
                      rounded-full
                      text-base
                      font-bold
                      border
                    "
                    :class="
                      row.parterType === 'Tech'
                        ? 'text-primary border-prmary'
                        : 'text-pink border-pink'
                    "
                  >
                    {{ row.parterType }}
                  </span>
                </td>
                <td>
                  <span>{{ row.manager }}</span>
                </td>
                <td>
                  <span class="font-black text-[#1E3284]">
                    {{ row.tickets.open }} Tickets
                  </span>
                </td>
                <td>
                  <span class="font-black text-primary">
                    {{ row.tickets.resolved }} Tickets
                  </span>
                </td>
                <td>
                  <span class="font-black text-[#6A14E6]">
                    {{ row.tickets.pending }} Tickets
                  </span>
                </td>
                <td>
                  <span>{{ row.lastUpdatedAt }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Button from "../../components/Button";
import Layout from "../../components/Layout/Layout.vue";


export default {
  components: {
    Button,
    Layout,
  },
  data: function () {
    return {
      opened: false,
      cols: [
        { name: "" },
        { name: "Name / company", sortable: true },
        { name: "Job Title", sortable: true },
        { name: "PARTNER  Type", sortable: true },
        { name: "Manager", sortable: true },
        { name: "Open Tickets", sortable: true },
        { name: "Resolved Tickets", sortable: true },
        { name: "Pending Tickets", sortable: true },
        { name: "Last Update", sortable: true },
      ],
      rows: [
        {
          firstname: "Julie",
          lastname: "Mandol",
          company: "Glendora",
          avatar: "/images/pages/customer/users/1.png",
          jobTitle: "Sales Manager",
          parterType: "Tech",
          manager: "Ben Williams",
          tickets: {
            open: 10,
            resolved: 13,
            pending: 13,
          },
          lastUpdatedAt: "30 Min ago",
        },
        {
          firstname: "Marc",
          lastname: "Stegen",
          company: "Glendora",
          avatar: "/images/pages/customer/users/2.png",
          jobTitle: "Executive Manager",
          parterType: "Tech",
          manager: "Jack Armstrong",
          tickets: {
            open: 14,
            resolved: 5,
            pending: 2,
          },
          lastUpdatedAt: "12/03/2021 06:15",
        },
        {
          firstname: "Peter",
          lastname: "Crouch",
          company: "Glendora",
          jobTitle: "Director of Sales",
          parterType: "Tech",
          manager: "Dov Glickman",
          tickets: {
            open: 3,
            resolved: 9,
            pending: 22,
          },
          lastUpdatedAt: "12/3/2021 12:34",
        },
        {
          firstname: "Jason",
          lastname: "Mason",
          company: "Glendora",
          jobTitle: "Deputy Sales Director",
          parterType: "Tech",
          manager: "Frank Sinatra",
          tickets: {
            open: 18,
            resolved: 21,
            pending: 7,
          },
          lastUpdatedAt: "12/01/2021 09:22",
        },
      ],
    };
  },
  methods: {
    handleSelect() {
      this.opened = true;
    },
    handleClose() {
      this.opened = false;
    },
  },
};
</script>
