<template>
  <Layout>
    <div class="relative">
      <Button
        class="h-12 px-6 text-lg font-bold absolute top-[146px] right-[34px]"
      >
        <div class="flex items-center text-lg">
          <img src="/images/icons/plus.svg" alt=":( Not Found" />
          <span class="ml-2">Open New Ticket</span>
        </div>
      </Button>
      <div class="p-[50px] radiobox">
        <p class="text-[28px] font-black text-[#403C3C] uppercase mb-[75px]">
          hello [user_name]
        </p>
        <img
          src="/images/pages/dashboard/support.svg"
          class="mb-8"
          alt=":( Not Found"
        />
        <div class="flex flex-row px-[40px] relative">
          <div class="block w-1/4 2xl:pl-[80px] xl:pl-[80px] lg:pl-[80px] pt-6 mr-[15px]">
            <p class="text-[28px] text-[#403C3C] mb-3 font-black">SUPPORT</p>
            <p class="text-xl text-[#5D5959]">
              Here you can view all of your tickets, get updates on status and
              chat online with our support team and open new support ticket
            </p>
            
          </div>
          <div
            class="
             flex
             flex-col
              w-1/4
              items-center
              mr-[15px]
              border border-[#D9E1E780]
              shadow-card
              c-card
              rounded-2xl

            "
          >
            <img class="h-[86px]" src="/images/pages/dashboard/closed.svg" alt=":( Not Found" />
            <div class="flex items-center text-dark font-black m-height-[70px]">
              <span class="text-[71px] leading-none">5</span>
              <span class="text-base leading-5 ml-[5px]">
                Closed<br />
                tickets
              </span>
            </div>
            <p>Your closed tickets archieve.</p>
            <span class="radiobtn"></span>
          </div>
          <div
            class="
            flex
             flex-col
             items-center
            w-1/4
            mr-[15px]
              border border-[#D9E1E780]
              shadow-card
              c-card
              rounded-2xl
            "
          >
            <img class="h-[86px]" src="/images/pages/dashboard/opened.svg" alt=":( Not Found" />
            <div class="flex items-center text-dark font-black m-height-[70px]">
              <span class="text-[71px] leading-none">4</span>
              <span class="text-base leading-5 ml-[5px]">
                Open <br />
                tickets
              </span>
            </div>
          <p class="text-center"> Your opened tickets archieve.</p>
            <span class="radiobtn"></span>
          </div>
           <div
            class="
            flex
             flex-col
             items-center
              w-1/4
              mr-[15px]
              border border-[#D9E1E780]
              shadow-card
              c-card
              rounded-2xl
            "
          >
            <img class="h-[45px] mt-[30px]" src="../assets//img/add-ticket.svg" alt=":( Not Found" />
            <div class="flex items-center text-dark font-black m-height-[70px]">
              <!-- <span class="text-[71px] leading-none">4</span> -->
              <span class="text-base leading-5 ml-[5px]">
                Open New Support<br />
                tickets
              </span>
            </div>
            <p class="text-center"> Open new support ticket.</p>
          <span class="radiobtn"></span>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from "../components/Layout/Layout";
import Button from "../components/Button";

export default {
  components: {
    Button,
    Layout,
  },
};
</script>
