<template>
  <div
    v-if="opened"
    class="
      flex
      justify-center
      items-start
      pt-40
      w-screen
      h-screen
      fixed
      top-0
      left-0
      z-50
    "
  >
    <div
      class="w-[802px] shadow-card relative z-10 bg-white rounded-xl"
      :class="classes"
    >
      <slot></slot>
    </div>
    <div
      class="w-full h-full absolute top-0 left-0 bg-white opacity-90"
      @click="handleCloseModal"
    />
  </div>
</template>

<script>
export default {
  methods: {
    handleCloseModal() {
      document.body.style.overflow = "normal";
      this.handleClose();
    },
  },
  watch: {
    opened: function () {
      if (this.opened) {
        document.body.style.overflow = "hidden";
      }
    },
  },
  props: {
    opened: Boolean,
    classes: String,
    handleClose: Function,
  },
};
</script>