<template>
  <div class="msgitem">
    <div class="flex relative justify-between items-stretch">
      <div class="msgicon"><img :src="salesIcon" /></div>
      <div class="msgtext" :class="getReadStaus()">
        <a href="">{{msgSubject}}</a>
        <p>{{msgContent}}</p>

        <div class="msgtime " :class="getMsgStaus()">
          <span class="material-icons-outlined">watch_later</span> {{msgDate}} |
          {{msgTime}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    //classes: String,
    // label: String,
    variant: String,
    salesIcon: String,
    msgSubject: String,
    msgContent: String,
    msgDate: String,
    msgTime: String,
    readStatus: String,
    msgStatus: String,
    
    onClick: Function,
  },
  methods: {
    getReadStaus() {
      switch (this.readStatus) {
        case "read":
          return "read";
        case "unread":
          return "notread";
        default:
          return "notread";
      }
    },
    getMsgStaus() {
      switch (this.msgStatus) {
        case "new":
          return "new";
        case "old":
          return "old";
       
        default:
          return "";
      }
    },
    // getCountBg() {
    //   if (this.ticketMessageCount > 0) {
    //     return "countgrn";
    //   }
    // },
  },
};
</script>

 <style scoped>
.msgitem {
    border-top: 1px solid #B4B4B4;
    padding: 30px 40px;
    text-align: left;
    /* position:relative; */
}
.msgicon {
    width: 50px;
}
.msgtext {
    width: calc(100% - 70px);
    position: relative;
}
.msgitem .msgtext.notread::before {
    background: #7FCC30;
}
.msgtime .material-icons-outlined {
    vertical-align: middle;
    font-size: 16px;
    top: -2px;
    position: relative;
}
img {
    display: block;
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    max-height: 100%;
}
.msgitem .msgtext::before {
    background: #B4B4B4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 0px;
    top: 6px;
}
.msgtext a {
    color: #7FCC30;
    font-weight: 600;
}
p {
    line-height: 1.5;
}
.msgtime {
    background: #D9E7E4;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #5D5959;
    transition: 0.3s;
}
</style>