<template>
  <!-- <button
    :class="[this.classes, getBackgroundColor()]"
    class="text-[23px] font-bold text-white rounded-full"
    @click="onClick()"
  >
    <slot></slot>
  </button> -->
  <div class="w-full flex flex-row ticket-item wide active">
    <span class="ticket-action bg-grey">Closed</span>
    <div class="flex w-full">
      <div class="w-full sm:w-3/5 lg:w-3/5">
        <div class="flex bdr">
          <div class="txt tid">
            <span class="textupcase smltxt">TICKET ID</span> {{ticket_id}}
          </div>
          <div class="txt"><b>{{subject}}</b></div>
          <div class="txt timedate">{{last_update}}</div>
        </div>
        <div class="flex">
          <div class="txt">
            <span class="textupcase smltxt">ASSIGN TO</span> {{user}}
          </div>
          <div class="txt">
            <span class="textupcase smltxt">PROJECT #{{project_id}}</span> {{project_description}}
          </div>
          <div class="txt">
            <span class="textupcase smltxt">TYPE</span> {{ticket_type_description}}
          </div>
          <div class="txt">
            <span class="textupcase smltxt">PRIORItY</span>
            <b class="blu fs14 boldblk">•{{ticket_priority_code}}</b>
          </div>
        </div>
      </div>
<div class="pl-10 flex flex-row w-full mt-10 sm:mt-0 sm:w-2/5 lg:w-2/5">
      <div class="tdesc hidden lg:w-2/5">
        <div class="flex">
          <div class=""><span class="grey bold">Summary</span></div>
          <div class="w-4/5 pl-10">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              elit leo, molestie sit amet dui ultrices, bibendum rutrum nulla.
              Maecenas
            </p>
          </div>
        </div>
      </div>
      <!--lg:w-3/5s-->
      <div class="dbutton textcenter flex w-full ">
        <div class="w-1/2">
          <div class="grey fs11 boldblk">DOWNLOAD CHAT HISTORY</div>
          <a href=""><i class="material-icons">download</i></a>
        </div>
        <div class="w-1/2">
          <div class="grey fs11 boldblk">REOPEN TICKER</div>
          <a href="#ticketreopen"  data-fancybox="" data-modal="true"
            ><i class="material-icons">cached</i></a
          >
        </div>
      </div>
</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    classes: String,
    label: String,
    variant: String,
    PROJDOCNO: String,
    PROJDES: String,
    project_description: String,
    project_id: String,
    ticket_type_description: String,
    user: String,
    ticket_priority_code: String,
    ticket_id: String,
    subject: String,
    last_update: String,
    onClick: Function,
  },
  methods: {
    getBackgroundColor() {
      switch (this.variant) {
        case "success":
          return "bg-success";
        case "danger":
          return "bg-danger";
        default:
          return "bg-success";
      }
    },
  },
};
</script>

<style scoped>
.ticket-item.active, .ticket-item:hover {
    box-shadow: inset 0 0 0 3px #91c94d, 0px 0px 15px #00000029;
}

.ticket-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #00000029;
    padding: 60px 24px 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
}

.ticket-action {
    position: absolute;
    left: 0;
    top: 20px;
    color: #fff;
    line-height: 1;
    padding: 4px 10px;
    font-size: 14px;
    min-width: 90px;
    text-align: center;
}

.bg-grey {
    background: #B4B4B4;
}

a, span {
    display: inline-block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.pr60 {
    padding-right: 6%;
}

.ticket-item .bdr {
    border-bottom: 1px solid rgb(92 89 89 / 50%);
    margin-bottom: 12px;
}

.ticket-item .txt {
    /* width: 30.33%; */
    width:24.33%;
    margin-bottom: 10px;
    line-height: 1.4;
}

.tid .textupcase {
    display: inline;
    color: #5D5959;
    margin-right: 5px;
}

.smltxt {
    font-size: 11px;
    letter-spacing: 0.18px;
    color: #B4B4B4;
    font-weight: 700;
    display: block;
}

.textupcase {
    text-transform: uppercase;
}

.timedate {
    color: #5D5959;
    font-size: 13px;
}

.textcenter {
    text-align: center;
}

.tdesc span {
    line-height: 1.5;
}

.grey {
    color: #B4B4B4;
}

.dbutton a i {
    font-size: 2.5em;
}
.fs11 {
    font-size: 11px;
}
.blu {
    color: #1FC9E6;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}
.dbutton a {
    display: inline-block;
    padding-top: 10px;
    color: #8BD144;
}

.boldblk {
    font-weight: 900;
}
</style>