<template>
  <div class="inline-flex items-center cursor-pointer" @click="handleToggle">
    <div
      class="
        flex
        items-center
        justify-center
        w-[26px]
        h-[26px]
        rounded-md
        border-2
        mr-3
      "
      :class="isChecked ? 'border-success bg-success' : 'border-gray'"
    >
      <img
        src="/images/icons/check.svg"
        alt=":( Not Found"
        :class="isChecked ? 'opacity-100' : 'opacity-0'"
      />
    </div>
    <span class="text-base font-bold text-[#384455] select-none" v-if="label">
      {{ label }}
    </span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isChecked: this.checked,
    };
  },
  methods: {
    handleToggle() {
      this.isChecked = !this.isChecked;
    },
  },
  props: {
    label: String,
    checked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>