<template>
  <div class="w-full eff flex flex-col flex-start">
    <label class="text-gray  mb-2">
      {{ label }}
    </label>
    <input
      :type="type"
      class="
        h-[66px]
        text-success text-base
        rounded-2xl
        px-2.5
        border border-gray
        outline-none
      "
      :class="this.classes"
      :placeholder="placeholder"
      :value="modalValue"
      @input="$emit('input',  $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: "text",
    },
    label: String,
    classes: String,
    placeholder: String,
    modalValue: String,
    onChange: Function,
  },
  // data () {
  //   return {
  //     content: this.value
  //   }
  // },
  // methods: {
  //   handleInput (e) {
  //     this.$emit('input', this.content)
  //   }
  // }
};
</script>