<template>
  <div class="searchbox mb20">
    <input type="text" class="txtbox srchtxt" :placeholder="placeholder" />
  </div>
</template>

<script>
export default {
  props: {
    // classes: String,
    // label: String,
    placeholder: String,
    onClick: Function,
  },
  methods: {
    
  },
};
</script>

<style scoped>
.srchtxt {
    background: url(/images/icons/icon-search.svg) no-repeat 15px center;
    padding: 0 20px 0 40px;
    height: 36px;
    font-size: 13px;
}

.txtbox {
    border: 1px solid #B4B4B4;
    border-radius: 16px;
    /* height: 66px; */
    transition: 0.3s;
    color: #7FCC30;
    /* padding: 0 15px; */
    
    /* background: none; */
    font-size: 100%;
    color: #000;
    display: block;
    text-transform: none;
    width: 100%;
}
</style>