@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v117/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v91/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v90/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v91/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v89/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-sharp {
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  padding: 0;
  padding: 0;
}

body * {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.react-code-input-container {
  width: max-content !important;
}

.react-code-input {
  display: flex;
}

.react-code-input input {
  border-radius: 16px !important;
  width: 94px !important;
  height: 105px !important;
  border: 1px solid #d9e1e780 !important;
  margin: 0 10px;
  font-family: "Lato", sans-serif !important;
  font-size: 40px !important;
  box-shadow: 0 0 15px #00000025;
}
.eff:hover input{
  border: 1px solid #90C94D;
  box-shadow: inset 0 0 0 1px #90c94d;
}
.eff:hover label {
  color: #303645;
}
.radiobox div.c-card{
  transition: 0.3s;
  height:225px;
  text-align: center;
  padding: 15px;
  justify-content:space-around;
}
.radiobox div.c-card:hover {
  border: 3px solid #7FCC30;
  transform: scaleY(1.05);
  height:auto;
  transform-origin: bottom;
  margin-top: -8px;
  padding: 40px 15px;
  z-index: 1;
  position: relative;
}
.radiobox .c-card:hover * {
  transform: scaleY(0.95);
}
.radiobox .c-card p {
  display: none;
}
.radiobox .c-card:hover p {
  display: block;
  text-align:center;
}
.radiobox .c-card span.radiobtn{
  width: 28px;
  height: 28px;
  border: 1px solid #B4B4B4;
  border-radius: 50%;
}
.radiobox .c-card:hover span.radiobtn {
  background: url(img/radio-tick.svg) no-repeat center center;
  background-size: auto;
  background-size: contain;
  border: 1px solid #7FCC30;
}
