/* basics */
* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; -ms-box-sizing: border-box; outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-family: sans-serif; line-height: 100%; margin: 0; padding: 0; }
a { color: #000; text-decoration: none; transition: 0.3s; }
a:focus, a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { list-style: none; display: block; }
ul.list li { display: list-item; list-style: inside; list-style-type: disc; }
ol.list li { display: list-item; list-style: inside; list-style-type: decimal; }
dd { margin: 0 0 0 40px; }
img { display: block; border: 0; -ms-interpolation-mode: bicubic; max-width: 100%; max-height: 100%; }
svg:not(:root) { overflow: hidden; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
.clr { clear: both; display: block; }
.cf:after, .wrap:after, .clear { clear: both; content: ''; display: block; width: 100%; }

/* FORM */
button, input, select, textarea { border-radius: 0px; -webkit-border-radius: 0px; border: 0px; background: none; font-size: 100%; color: #000; 
	display: block; padding: 0 10px; text-transform: none; width: 100%; }
select { box-shadow: none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance: none; appearance: none; }
select::-ms-expand { display: none; }
input[type=button], input[type=submit], button { cursor: pointer; -webkit-appearance:none; -moz-appearance:none; 
	-ms-appearance: none; appearance: none; transition: 0.3s; }
textarea { resize: none; padding: 10px; overflow: auto; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: 40px; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
/**/
input[type=checkbox], input[type=radio] { width: auto; display:none; }
input[type="checkbox"] + label span { display: inline-block; width: 20px; height: 20px; margin-right: 8px; position: relative; top: -1px; 
	background: #fff; border: 1px solid #6D6E71; vertical-align: middle; border-radius: 5px; text-align: center; cursor: pointer; 
	font-size: 14px; font-weight: bold; line-height: 20px; box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); }
input[type="checkbox"]:checked + label span:before { content: "\2713"; }
input[type="radio"] + label span {display:inline-block; width:16px; height:16px; margin-right: 8px; position: relative; top: -1px; background: #fff; border: 1px solid #a0a0a0; vertical-align: middle; border-radius: 50%; -webkit-border-radius: 50%; cursor: pointer; }
input[type="radio"]:checked + label span:before { content: "\2022"; }
/**/
.wh::-webkit-input-placeholder { color: #fff; }
.wh:-moz-placeholder { color: #fff; opacity: 1; }
.wh::-moz-placeholder { color: #fff; opacity: 1;}
.wh:-ms-input-placeholder { color: #fff; }

.blk::-webkit-input-placeholder { color: #000; }
.blk:-moz-placeholder { color: #000; opacity: 1; }
.blk::-moz-placeholder { color: #000; opacity: 1;}
.blk:-ms-input-placeholder { color: #000; }
/**/
::-moz-selection { color: #fff; background: #000; }
::selection { color: #fff; background: #000; }
/**/
.tbl { border-collapse: collapse; display: table; width: 100%; }
.tblrow { display: table-row; }
.cell { display: table-cell; vertical-align: middle; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 { font-weight: 700; line-height: 1.1; margin-bottom: 10px; }
h1, h2, h3 { font-size: 30px; }
h4, h5, h6 { font-size: 22px; }
p { line-height: 1.3; margin-bottom: 10px; } 
p:last-child { margin-bottom: 0px; }
.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter { text-align: center; }
.textupcase { text-transform: uppercase; }
.relative { position: relative; }

/* DEFAULT */
body { background: #fff; color: #000; font-size: 16px; font-family: sans-serif; font-weight: 400; }
button, input, select, textarea { font-weight: 400; font-family: sans-serif; color: #171A36; }
#wrapper { width: 100%; max-width: 100%; margin: 0 auto; position: relative; overflow: hidden; }
.wrap { width: 100%; max-width: 1600px; margin: 0 auto; position: relative; }
.flex { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch; }
.flex-center { align-items: center; justify-content: center; }
.flexv-center { align-items: center; }
.flexh-center { justify-content: center; }
.flex-reverse { flex-direction: row-reverse; }
.flex-top { align-items: flex-start; }
.flex-bottom { align-items: flex-end; }
.flex-left { justify-content: flex-start; }
.flex-right { justify-content: flex-end; }
.spacebtwen { justify-content: space-between; }

.contianer { padding: 0 15px; }
.row { margin: 0 -15px; position: relative; }
.flexrow { margin: 0 -15px; display: flex; flex-wrap: wrap; position: relative; }
.flexrow > div { padding: 0 15px; }
[class*='w-'] {  }

@media screen and (min-width:769px)  { 
.w-1 { width: 1%; } .w-2 { width: 2%; } .w-3 { width: 3%; }.w-4 { width: 4%; }.w-5 { width: 5%; }.w-6 { width: 6%; }.w-7 { width: 7%; }.w-8 { width: 8%; }.w-9 { width: 9%; }.w-10 { width: 10%; }.w-11 { width: 11%; }.w-12 { width: 12%; }.w-13 { width: 13%; }.w-14 { width: 14%; }.w-15 { width: 15%; }.w-16 { width: 16%; }.w-17 { width: 17%; }.w-18 { width: 18%; }.w-19 { width: 19%; }.w-20 { width: 20%; }.w-21 { width: 21%; }.w-22 { width: 22%; }.w-23 { width: 23%; }.w-24 { width: 24%; }.w-25 { width: 25%; }.w-26 { width: 26%; }.w-27 { width: 27%; }.w-28 { width: 28%; }.w-29 { width: 29%; }.w-30 { width: 30%; }.w-31 { width: 31%; }.w-32 { width: 32%; }.w-33 { width: 33.33%; }.w-34 { width: 34%; }.w-35 { width: 35%; }.w-36 { width: 36%; }.w-37 { width: 37%; }.w-38 { width: 38%; }.w-39 { width: 39%; }.w-40 { width: 40%; }.w-41 { width: 41%; }.w-42 { width: 42%; }.w-43 { width: 43%; }.w-44 { width: 44%; }.w-45 { width: 45%; }.w-46 { width: 46%; }.w-47 { width: 47%; }.w-48 { width: 48%; }.w-49 { width: 49%; }.w-50 { width: 50%; }.w-51 { width: 51%; }.w-52 { width: 52%; }.w-53 { width: 53%; }.w-54 { width: 54%; }.w-55 { width: 55%; }.w-56 { width: 56%; }.w-57 { width: 57%; }.w-58 { width: 58%; }.w-59 { width: 59%; }.w-60 { width: 60%; }.w-61 { width: 61%; }.w-62 { width: 62%; }.w-63 { width: 63%; }.w-64 { width: 64%; }.w-65 { width: 65%; }.w-66 { width: 66.66%; }.w-67 { width: 67%; }.w-68 { width: 68%; }.w-69 { width: 69%; }.w-70 { width: 70%; }.w-71 { width: 71%; }.w-72 { width: 72%; }.w-73 { width: 73%; }.w-74 { width: 74%; }.w-75 { width: 75%; }.w-76 { width: 76%; }.w-77 { width: 77%; }.w-78 { width: 78%; }.w-79 { width: 79%; }.w-80 { width: 80%; }.w-81 { width: 81%; }.w-82 { width: 82%; }.w-83 { width: 83%; }.w-84 { width: 84%; }.w-85 { width: 85%; }.w-86 { width: 86%; }.w-87 { width: 87%; }.w-88 { width: 88%; }.w-89 { width: 89%; }.w-90 { width: 90%; }.w-91 { width: 91%; }.w-92 { width: 92%; }.w-93 { width: 93%; }.w-94 { width: 94%; }.w-95 { width: 95%; }.w-96 { width: 96%; }.w-97 { width: 97%; }.w-98 { width: 98%; }.w-99 { width: 99%; }.w-100 { width: 100%; }
}

@media screen and (min-width:768px) and (max-width:1024px) { 
[class*='wt-'] { width: 100%; margin-bottom: 30px; }
[class*='wt-']:last-child { margin-bottom: 0px; }	
.wt-1 { width: 1%; } .wt-2 { width: 2%; } .wt-3 { width: 3%; }.wt-4 { width: 4%; }.wt-5 { width: 5%; }.wt-6 { width: 6%; }.wt-7 { width: 7%; }.wt-8 { width: 8%; }.wt-9 { width: 9%; }.wt-10 { width: 10%; }.wt-11 { width: 11%; }.wt-12 { width: 12%; }.wt-13 { width: 13%; }.wt-14 { width: 14%; }.wt-15 { width: 15%; }.wt-16 { width: 16%; }.wt-17 { width: 17%; }.wt-18 { width: 18%; }.wt-19 { width: 19%; }.wt-20 { width: 20%; }.wt-21 { width: 21%; }.wt-22 { width: 22%; }.wt-23 { width: 23%; }.wt-24 { width: 24%; }.wt-25 { width: 25%; }.wt-26 { width: 26%; }.wt-27 { width: 27%; }.wt-28 { width: 28%; }.wt-29 { width: 29%; }.wt-30 { width: 30%; }.wt-31 { width: 31%; }.wt-32 { width: 32%; }.wt-33 { width: 33.33%; }.wt-34 { width: 34%; }.wt-35 { width: 35%; }.wt-36 { width: 36%; }.wt-37 { width: 37%; }.wt-38 { width: 38%; }.wt-39 { width: 39%; }.wt-40 { width: 40%; }.wt-41 { width: 41%; }.wt-42 { width: 42%; }.wt-43 { width: 43%; }.wt-44 { width: 44%; }.wt-45 { width: 45%; }.wt-46 { width: 46%; }.wt-47 { width: 47%; }.wt-48 { width: 48%; }.wt-49 { width: 49%; }.wt-50 { width: 50%; }.wt-51 { width: 51%; }.wt-52 { width: 52%; }.wt-53 { width: 53%; }.wt-54 { width: 54%; }.wt-55 { width: 55%; }.wt-56 { width: 56%; }.wt-57 { width: 57%; }.wt-58 { width: 58%; }.wt-59 { width: 59%; }.wt-60 { width: 60%; }.wt-61 { width: 61%; }.wt-62 { width: 62%; }.wt-63 { width: 63%; }.wt-64 { width: 64%; }.wt-65 { width: 65%; }.wt-66 { width: 66.66%; }.wt-67 { width: 67%; }.wt-68 { width: 68%; }.wt-69 { width: 69%; }.wt-70 { width: 70%; }.wt-71 { width: 71%; }.wt-72 { width: 72%; }.wt-73 { width: 73%; }.wt-74 { width: 74%; }.wt-75 { width: 75%; }.wt-76 { width: 76%; }.wt-77 { width: 77%; }.wt-78 { width: 78%; }.wt-79 { width: 79%; }.wt-80 { width: 80%; }.wt-81 { width: 81%; }.wt-82 { width: 82%; }.wt-83 { width: 83%; }.wt-84 { width: 84%; }.wt-85 { width: 85%; }.wt-86 { width: 86%; }.wt-87 { width: 87%; }.wt-88 { width: 88%; }.wt-89 { width: 89%; }.wt-90 { width: 90%; }.wt-91 { width: 91%; }.wt-92 { width: 92%; }.wt-93 { width: 93%; }.wt-94 { width: 94%; }.wt-95 { width: 95%; }.wt-96 { width: 96%; }.wt-97 { width: 97%; }.wt-98 { width: 98%; }.wt-99 { width: 99%; }.wt-100 { width: 100%; }
}

@media screen and (max-width:767px) { 
[class*='w-'] { width: 100%; margin-bottom: 30px; }
[class*='w-']:last-child { margin-bottom: 0px; }
.wm-1 { width: 1%; } .wm-2 { width: 2%; } .wm-3 { width: 3%; }.wm-4 { width: 4%; }.wm-5 { width: 5%; }.wm-6 { width: 6%; }.wm-7 { width: 7%; }.wm-8 { width: 8%; }.wm-9 { width: 9%; }.wm-10 { width: 10%; }.wm-11 { width: 11%; }.wm-12 { width: 12%; }.wm-13 { width: 13%; }.wm-14 { width: 14%; }.wm-15 { width: 15%; }.wm-16 { width: 16%; }.wm-17 { width: 17%; }.wm-18 { width: 18%; }.wm-19 { width: 19%; }.wm-20 { width: 20%; }.wm-21 { width: 21%; }.wm-22 { width: 22%; }.wm-23 { width: 23%; }.wm-24 { width: 24%; }.wm-25 { width: 25%; }.wm-26 { width: 26%; }.wm-27 { width: 27%; }.wm-28 { width: 28%; }.wm-29 { width: 29%; }.wm-30 { width: 30%; }.wm-31 { width: 31%; }.wm-32 { width: 32%; }.wm-33 { width: 33.33%; }.wm-34 { width: 34%; }.wm-35 { width: 35%; }.wm-36 { width: 36%; }.wm-37 { width: 37%; }.wm-38 { width: 38%; }.wm-39 { width: 39%; }.wm-40 { width: 40%; }.wm-41 { width: 41%; }.wm-42 { width: 42%; }.wm-43 { width: 43%; }.wm-44 { width: 44%; }.wm-45 { width: 45%; }.wm-46 { width: 46%; }.wm-47 { width: 47%; }.wm-48 { width: 48%; }.wm-49 { width: 49%; }.wm-50 { width: 50%; }.wm-51 { width: 51%; }.wm-52 { width: 52%; }.wm-53 { width: 53%; }.wm-54 { width: 54%; }.wm-55 { width: 55%; }.wm-56 { width: 56%; }.wm-57 { width: 57%; }.wm-58 { width: 58%; }.wm-59 { width: 59%; }.wm-60 { width: 60%; }.wm-61 { width: 61%; }.wm-62 { width: 62%; }.wm-63 { width: 63%; }.wm-64 { width: 64%; }.wm-65 { width: 65%; }.wm-66 { width: 66.66%; }.wm-67 { width: 67%; }.wm-68 { width: 68%; }.wm-69 { width: 69%; }.wm-70 { width: 70%; }.wm-71 { width: 71%; }.wm-72 { width: 72%; }.wm-73 { width: 73%; }.wm-74 { width: 74%; }.wm-75 { width: 75%; }.wm-76 { width: 76%; }.wm-77 { width: 77%; }.wm-78 { width: 78%; }.wm-79 { width: 79%; }.wm-80 { width: 80%; }.wm-81 { width: 81%; }.wm-82 { width: 82%; }.wm-83 { width: 83%; }.wm-84 { width: 84%; }.wm-85 { width: 85%; }.wm-86 { width: 86%; }.wm-87 { width: 87%; }.wm-88 { width: 88%; }.wm-89 { width: 89%; }.wm-90 { width: 90%; }.wm-91 { width: 91%; }.wm-92 { width: 92%; }.wm-93 { width: 93%; }.wm-94 { width: 94%; }.wm-95 { width: 95%; }.wm-96 { width: 96%; }.wm-97 { width: 97%; }.wm-98 { width: 98%; }.wm-99 { width: 99%; }.wm-100 { width: 100%; }
}

/* MARGIN BOTTOM */
.mb0 { margin-bottom: 0px; }.mb1 { margin-bottom: 1px; } .mb2 { margin-bottom: 2px; } .mb3 { margin-bottom: 3px; }.mb4 { margin-bottom: 4px; }.mb5 { margin-bottom: 5px; }.mb6 { margin-bottom: 6px; }.mb7 { margin-bottom: 7px; }.mb8 { margin-bottom: 8px; }.mb9 { margin-bottom: 9px; }.mb10 { margin-bottom: 10px; }.mb11 { margin-bottom: 11px; }.mb12 { margin-bottom: 12px; }.mb13 { margin-bottom: 13px; }.mb14 { margin-bottom: 14px; }.mb15 { margin-bottom: 15px; }.mb16 { margin-bottom: 16px; }.mb17 { margin-bottom: 17px; }.mb18 { margin-bottom: 18px; }.mb19 { margin-bottom: 19px; }.mb20 { margin-bottom: 20px; }.mb21 { margin-bottom: 21px; }.mb22 { margin-bottom: 22px; }.mb23 { margin-bottom: 23px; }.mb24 { margin-bottom: 24px; }.mb25 { margin-bottom: 25px; }.mb26 { margin-bottom: 26px; }.mb27 { margin-bottom: 27px; }.mb28 { margin-bottom: 28px; }.mb29 { margin-bottom: 29px; }.mb30 { margin-bottom: 30px; }.mb31 { margin-bottom: 31px; }.mb32 { margin-bottom: 32px; }.mb33 { margin-bottom: 33px; }.mb34 { margin-bottom: 34px; }.mb35 { margin-bottom: 35px; }.mb36 { margin-bottom: 36px; }.mb37 { margin-bottom: 37px; }.mb38 { margin-bottom: 38px; }.mb39 { margin-bottom: 39px; }.mb40 { margin-bottom: 40px; }.mb41 { margin-bottom: 41px; }.mb42 { margin-bottom: 42px; }.mb43 { margin-bottom: 43px; }.mb44 { margin-bottom: 44px; }.mb45 { margin-bottom: 45px; }.mb46 { margin-bottom: 46px; }.mb47 { margin-bottom: 47px; }.mb48 { margin-bottom: 48px; }.mb49 { margin-bottom: 49px; }.mb50 { margin-bottom: 50px; }.mb51 { margin-bottom: 51px; }.mb52 { margin-bottom: 52px; }.mb53 { margin-bottom: 53px; }.mb54 { margin-bottom: 54px; }.mb55 { margin-bottom: 55px; }.mb56 { margin-bottom: 56px; }.mb57 { margin-bottom: 57px; }.mb58 { margin-bottom: 58px; }.mb59 { margin-bottom: 59px; }.mb60 { margin-bottom: 60px; }.mb61 { margin-bottom: 61px; }.mb62 { margin-bottom: 62px; }.mb63 { margin-bottom: 63px; }.mb64 { margin-bottom: 64px; }.mb65 { margin-bottom: 65px; }.mb66 { margin-bottom: 66px; }.mb67 { margin-bottom: 67px; }.mb68 { margin-bottom: 68px; }.mb69 { margin-bottom: 69px; }.mb70 { margin-bottom: 70px; }.mb71 { margin-bottom: 71px; }.mb72 { margin-bottom: 72px; }.mb73 { margin-bottom: 73px; }.mb74 { margin-bottom: 74px; }.mb75 { margin-bottom: 75px; }.mb76 { margin-bottom: 76px; }.mb77 { margin-bottom: 77px; }.mb78 { margin-bottom: 78px; }.mb79 { margin-bottom: 79px; }.mb80 { margin-bottom: 80px; }.mb81 { margin-bottom: 81px; }.mb82 { margin-bottom: 82px; }.mb83 { margin-bottom: 83px; }.mb84 { margin-bottom: 84px; }.mb85 { margin-bottom: 85px; }.mb86 { margin-bottom: 86px; }.mb87 { margin-bottom: 87px; }.mb88 { margin-bottom: 88px; }.mb89 { margin-bottom: 89px; }.mb90 { margin-bottom: 90px; }.mb91 { margin-bottom: 91px; }.mb92 { margin-bottom: 92px; }.mb93 { margin-bottom: 93px; }.mb94 { margin-bottom: 94px; }.mb95 { margin-bottom: 95px; }.mb96 { margin-bottom: 96px; }.mb97 { margin-bottom: 97px; }.mb98 { margin-bottom: 98px; }.mb99 { margin-bottom: 99px; }.mb100 { margin-bottom: 100px; }

/* MARGIN TOP */
.mt0 { margin-top: 0px; }.mt1 { margin-top: 1px; } .mt2 { margin-top: 2px; } .mt3 { margin-top: 3px; }.mt4 { margin-top: 4px; }.mt5 { margin-top: 5px; }.mt6 { margin-top: 6px; }.mt7 { margin-top: 7px; }.mt8 { margin-top: 8px; }.mt9 { margin-top: 9px; }.mt10 { margin-top: 10px; }.mt11 { margin-top: 11px; }.mt12 { margin-top: 12px; }.mt13 { margin-top: 13px; }.mt14 { margin-top: 14px; }.mt15 { margin-top: 15px; }.mt16 { margin-top: 16px; }.mt17 { margin-top: 17px; }.mt18 { margin-top: 18px; }.mt19 { margin-top: 19px; }.mt20 { margin-top: 20px; }.mt21 { margin-top: 21px; }.mt22 { margin-top: 22px; }.mt23 { margin-top: 23px; }.mt24 { margin-top: 24px; }.mt25 { margin-top: 25px; }.mt26 { margin-top: 26px; }.mt27 { margin-top: 27px; }.mt28 { margin-top: 28px; }.mt29 { margin-top: 29px; }.mt30 { margin-top: 30px; }.mt31 { margin-top: 31px; }.mt32 { margin-top: 32px; }.mt33 { margin-top: 33px; }.mt34 { margin-top: 34px; }.mt35 { margin-top: 35px; }.mt36 { margin-top: 36px; }.mt37 { margin-top: 37px; }.mt38 { margin-top: 38px; }.mt39 { margin-top: 39px; }.mt40 { margin-top: 40px; }.mt41 { margin-top: 41px; }.mt42 { margin-top: 42px; }.mt43 { margin-top: 43px; }.mt44 { margin-top: 44px; }.mt45 { margin-top: 45px; }.mt46 { margin-top: 46px; }.mt47 { margin-top: 47px; }.mt48 { margin-top: 48px; }.mt49 { margin-top: 49px; }.mt50 { margin-top: 50px; }.mt51 { margin-top: 51px; }.mt52 { margin-top: 52px; }.mt53 { margin-top: 53px; }.mt54 { margin-top: 54px; }.mt55 { margin-top: 55px; }.mt56 { margin-top: 56px; }.mt57 { margin-top: 57px; }.mt58 { margin-top: 58px; }.mt59 { margin-top: 59px; }.mt60 { margin-top: 60px; }.mt61 { margin-top: 61px; }.mt62 { margin-top: 62px; }.mt63 { margin-top: 63px; }.mt64 { margin-top: 64px; }.mt65 { margin-top: 65px; }.mt66 { margin-top: 66px; }.mt67 { margin-top: 67px; }.mt68 { margin-top: 68px; }.mt69 { margin-top: 69px; }.mt70 { margin-top: 70px; }.mt71 { margin-top: 71px; }.mt72 { margin-top: 72px; }.mt73 { margin-top: 73px; }.mt74 { margin-top: 74px; }.mt75 { margin-top: 75px; }.mt76 { margin-top: 76px; }.mt77 { margin-top: 77px; }.mt78 { margin-top: 78px; }.mt79 { margin-top: 79px; }.mt80 { margin-top: 80px; }.mt81 { margin-top: 81px; }.mt82 { margin-top: 82px; }.mt83 { margin-top: 83px; }.mt84 { margin-top: 84px; }.mt85 { margin-top: 85px; }.mt86 { margin-top: 86px; }.mt87 { margin-top: 87px; }.mt88 { margin-top: 88px; }.mt89 { margin-top: 89px; }.mt90 { margin-top: 90px; }.mt91 { margin-top: 91px; }.mt92 { margin-top: 92px; }.mt93 { margin-top: 93px; }.mt94 { margin-top: 94px; }.mt95 { margin-top: 95px; }.mt96 { margin-top: 96px; }.mt97 { margin-top: 97px; }.mt98 { margin-top: 98px; }.mt99 { margin-top: 99px; }.mt100 { margin-top: 100px; }

/* MARGIN LEFT */
.ml0 { margin-left: 0px; }.ml1{ margin-left: 1px; } .ml2 { margin-left: 2px; } .ml3 { margin-left: 3px; }.ml4 { margin-left: 4px; }.ml5 { margin-left: 5px; }.ml6 { margin-left: 6px; }.ml7 { margin-left: 7px; }.ml8 { margin-left: 8px; }.ml9 { margin-left: 9px; }.ml10 { margin-left: 10px; }.ml11 { margin-left: 11px; }.ml12 { margin-left: 12px; }.ml13 { margin-left: 13px; }.ml14 { margin-left: 14px; }.ml15 { margin-left: 15px; }.ml16 { margin-left: 16px; }.ml17 { margin-left: 17px; }.ml18 { margin-left: 18px; }.ml19 { margin-left: 19px; }.ml20 { margin-left: 20px; }.ml21 { margin-left: 21px; }.ml22 { margin-left: 22px; }.ml23 { margin-left: 23px; }.ml24 { margin-left: 24px; }.ml25 { margin-left: 25px; }.ml26 { margin-left: 26px; }.ml27 { margin-left: 27px; }.ml28 { margin-left: 28px; }.ml29 { margin-left: 29px; }.ml30 { margin-left: 30px; }.ml31 { margin-left: 31px; }.ml32 { margin-left: 32px; }.ml33 { margin-left: 33px; }.ml34 { margin-left: 34px; }.ml35 { margin-left: 35px; }.ml36 { margin-left: 36px; }.ml37 { margin-left: 37px; }.ml38 { margin-left: 38px; }.ml39 { margin-left: 39px; }.ml40 { margin-left: 40px; }.ml41 { margin-left: 41px; }.ml42 { margin-left: 42px; }.ml43 { margin-left: 43px; }.ml44 { margin-left: 44px; }.ml45 { margin-left: 45px; }.ml46 { margin-left: 46px; }.ml47 { margin-left: 47px; }.ml48 { margin-left: 48px; }.ml49 { margin-left: 49px; }.ml50 { margin-left: 50px; }.ml51 { margin-left: 51px; }.ml52 { margin-left: 52px; }.ml53 { margin-left: 53px; }.ml54 { margin-left: 54px; }.ml55 { margin-left: 55px; }.ml56 { margin-left: 56px; }.ml57 { margin-left: 57px; }.ml58 { margin-left: 58px; }.ml59 { margin-left: 59px; }.ml60 { margin-left: 60px; }.ml61 { margin-left: 61px; }.ml62 { margin-left: 62px; }.ml63 { margin-left: 63px; }.ml64 { margin-left: 64px; }.ml65 { margin-left: 65px; }.ml66 { margin-left: 66px; }.ml67 { margin-left: 67px; }.ml68 { margin-left: 68px; }.ml69 { margin-left: 69px; }.ml70 { margin-left: 70px; }.ml71 { margin-left: 71px; }.ml72 { margin-left: 72px; }.ml73 { margin-left: 73px; }.ml74 { margin-left: 74px; }.ml75 { margin-left: 75px; }.ml76 { margin-left: 76px; }.ml77 { margin-left: 77px; }.ml78 { margin-left: 78px; }.ml79 { margin-left: 79px; }.ml80 { margin-left: 80px; }.ml81 { margin-left: 81px; }.ml82 { margin-left: 82px; }.ml83 { margin-left: 83px; }.ml84 { margin-left: 84px; }.ml85 { margin-left: 85px; }.ml86 { margin-left: 86px; }.ml87 { margin-left: 87px; }.ml88 { margin-left: 88px; }.ml89 { margin-left: 89px; }.ml90 { margin-left: 90px; }.ml91 { margin-left: 91px; }.ml92 { margin-left: 92px; }.ml93 { margin-left: 93px; }.ml94 { margin-left: 94px; }.ml95 { margin-left: 95px; }.ml96 { margin-left: 96px; }.ml97 { margin-left: 97px; }.ml98 { margin-left: 98px; }.ml99 { margin-left: 99px; }.ml100 { margin-left: 100px; }

/* MARGIN RIGHT */
.mr0 { margin-right: 0px; }.mr1 { margin-right: 1px; } .mr2 { margin-right: 2px; } .mr3 { margin-right: 3px; }.mr4 { margin-right: 4px; }.mr5 { margin-right: 5px; }.mr6 { margin-right: 6px; }.mr7 { margin-right: 7px; }.mr8 { margin-right: 8px; }.mr9 { margin-right: 9px; }.mr10 { margin-right: 10px; }.mr11 { margin-right: 11px; }.mr12 { margin-right: 12px; }.mr13 { margin-right: 13px; }.mr14 { margin-right: 14px; }.mr15 { margin-right: 15px; }.mr16 { margin-right: 16px; }.mr17 { margin-right: 17px; }.mr18 { margin-right: 18px; }.mr19 { margin-right: 19px; }.mr20 { margin-right: 20px; }.mr21 { margin-right: 21px; }.mr22 { margin-right: 22px; }.mr23 { margin-right: 23px; }.mr24 { margin-right: 24px; }.mr25 { margin-right: 25px; }.mr26 { margin-right: 26px; }.mr27 { margin-right: 27px; }.mr28 { margin-right: 28px; }.mr29 { margin-right: 29px; }.mr30 { margin-right: 30px; }.mr31 { margin-right: 31px; }.mr32 { margin-right: 32px; }.mr33 { margin-right: 33px; }.mr34 { margin-right: 34px; }.mr35 { margin-right: 35px; }.mr36 { margin-right: 36px; }.mr37 { margin-right: 37px; }.mr38 { margin-right: 38px; }.mr39 { margin-right: 39px; }.mr40 { margin-right: 40px; }.mr41 { margin-right: 41px; }.mr42 { margin-right: 42px; }.mr43 { margin-right: 43px; }.mr44 { margin-right: 44px; }.mr45 { margin-right: 45px; }.mr46 { margin-right: 46px; }.mr47 { margin-right: 47px; }.mr48 { margin-right: 48px; }.mr49 { margin-right: 49px; }.mr50 { margin-right: 50px; }.mr51 { margin-right: 51px; }.mr52 { margin-right: 52px; }.mr53 { margin-right: 53px; }.mr54 { margin-right: 54px; }.mr55 { margin-right: 55px; }.mr56 { margin-right: 56px; }.mr57 { margin-right: 57px; }.mr58 { margin-right: 58px; }.mr59 { margin-right: 59px; }.mr60 { margin-right: 60px; }.mr61 { margin-right: 61px; }.mr62 { margin-right: 62px; }.mr63 { margin-right: 63px; }.mr64 { margin-right: 64px; }.mr65 { margin-right: 65px; }.mr66 { margin-right: 66px; }.mr67 { margin-right: 67px; }.mr68 { margin-right: 68px; }.mr69 { margin-right: 69px; }.mr70 { margin-right: 70px; }.mr71 { margin-right: 71px; }.mr72 { margin-right: 72px; }.mr73 { margin-right: 73px; }.mr74 { margin-right: 74px; }.mr75 { margin-right: 75px; }.mr76 { margin-right: 76px; }.mr77 { margin-right: 77px; }.mr78 { margin-right: 78px; }.mr79 { margin-right: 79px; }.mr80 { margin-right: 80px; }.mr81 { margin-right: 81px; }.mr82 { margin-right: 82px; }.mr83 { margin-right: 83px; }.mr84 { margin-right: 84px; }.mr85 { margin-right: 85px; }.mr86 { margin-right: 86px; }.mr87 { margin-right: 87px; }.mr88 { margin-right: 88px; }.mr89 { margin-right: 89px; }.mr90 { margin-right: 90px; }.mr91 { margin-right: 91px; }.mr92 { margin-right: 92px; }.mr93 { margin-right: 93px; }.mr94 { margin-right: 94px; }.mr95 { margin-right: 95px; }.mr96 { margin-right: 96px; }.mr97 { margin-right: 97px; }.mr98 { margin-right: 98px; }.mr99 { margin-right: 99px; }.mr100 { margin-right: 100px; }