@import url('site.css');
/* @import url('../fonts/fontawesome.css'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body { color: #06152B; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 16px; }
input, textarea, button, select { font-family: 'Lato', Arial; }
h1, h2, h3, h4, h5, h6 { font-weight: 900; color: #06152B; }
a, span { display: inline-block; }
p { line-height: 1.5; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs20 { font-size: 1.25em; }
.fs24 { font-size: 1.5em; }
.fs28 { font-size: 1.75em; }
.fs30 { font-size: 1.875em; }
.fs34 { font-size: 2.125em; }
.fs36 { font-size: 2.25em; }
b, strong, .bold { font-weight: 700; }
.boldblk { font-weight: 900; }
/**/
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: none; border-radius: 20px; }
::-webkit-scrollbar-thumb { background: #D6DCDA; border-radius: 20px; }
::-webkit-scrollbar-thumb:hover { background: #555; }
/* PAGE LOGIN */
.h-100 { min-height: 100%; }
.text-center { text-align: center; }
.logincontent { min-height: 100vh; padding: 20px; }
.shadowbox { background: #FEFEFE; box-shadow: 0px 0px 15px #00000029; border-radius: 40px; width: 100%; height: 100%; overflow: hidden; }
.logindiv { padding-top: 130px; }
.resetdiv { padding-top: 60px; display: none; }
.verifydiv { padding-top: 130px; }
.verifytxtbox { max-width: 360px; margin: 0px auto; }
.textcenter { text-align: center; }
.imgreset { display: none; }
.loginbox .centerdiv { max-width: 440px; margin: 0px auto; }
.loginbox h1 { font-size: 2em; color: #06152B; text-transform: uppercase; }
.login-logo { padding: 50px 0 0; }
.rehead { color: #06152B; text-align: center; font-weight: bold; font-size: 1.25em; margin-bottom: 40px; }
.field { position: relative; }
.lbl { font-family: Arial; color: #B4B4B4; display: block; margin-bottom: 10px; transition: 0.3s; }
.txtbox { border: 1px solid #B4B4B4; border-radius: 16px; height: 66px; transition: 0.3s; color: #7FCC30; padding: 0 15px; }
textarea.txtbox { height: 170px; padding: 15px; }
.field:hover .txtbox { border: 1px solid #90C94D; box-shadow: inset 0 0 0 1px #90c94d; }
.field:hover .lbl { color: #303645; }
.submit { font: bold 23px Lato; color: #FEFEFE; background: #7FCC30; border-radius: 26px; height: 55px; }
.submit.error { background: #D55A55; }
input.err { border: 1px solid #D55A55; box-shadow: inset 0 0 0 1px #D55A55; color: #D55A55; }
.errortxt { position: relative; display: none; }
.err + .errortxt, .error + .errortxt { display: block; }
.errortxt span { background: #E54F4F; border-radius: 9px; position: absolute; font-size: 13px; white-space: nowrap; color: #fff; 
    padding: 4px 12px; line-height: 1; top: 10px; left: 10px; }
.errortxt span:before { clip-path: polygon(50% 0%, 0% 100%, 100% 100%); content: ''; position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%);
    height: 7px; width: 16px; background: #E54F4F; }
.errortxt.center span { left: 50%; transform: translateX(-50%); }
.errortxt.top span:before { display: block; bottom: auto; top: 100%; clip-path: polygon(50% 100%, 0 0, 100% 0); }
.errortxt.top span { top: auto; bottom: 10px; }
.errortxt.active { display: block; }
a.btn { font: bold 18px Lato; color: #FEFEFE; background: #7FCC30; border-radius: 26px; display: inline-block; line-height: 46px; min-width: 170px;
    text-align: center; padding: 0 20px 0 15px; }
.loginimg { height: calc(100vh - 70px); }
.loginimg img { height: 100%; }

.popmsg { display: none; background: #fff; width: 90%; max-width: 800px; box-shadow: 0px 0px 15px #00000029; border-radius: 15px; }    
.popmsg h1 { text-transform: uppercase; }    
.popmsg p a { text-decoration: underline; }    
.fancybox-bg { background: #fff; }
.btn.red { background: #E54F4F; }

/* LOGGED IN */
.bg-darkblu { background: #1E3284; }
.bg-darkblu2 { background: #3A36DB; }
.bg-green { background: #7FCC30; }
.bg-grey { background: #B4B4B4; }
.bg-liteblu { background: #31CAFE; }
.bg-liteblu2 { background: #1FC9E6; }
.bg-pink { background: #C389FF; }
.bg-purple { background: #6A14E6; }
/**/
.mainwrap { align-items: stretch; display: flex; width: 100%; }
.sidebar { min-width: 100px; max-width: 100px; transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out; padding: 20px 0 20px 20px; }
.sidebarinn { background: #7FCC30; box-shadow: 0px 0px 15px #00000029; border-radius: 50px; padding: 20px 10px; position: fixed; width: 80px; top: 20px; bottom: 20px; left: 20px; }
.navlogo { display: flex; justify-content: center; margin-bottom: 40px; }
.mainmenu {}
.mainmenu li { margin-bottom: 20px; padding: 0 5px; }
.mainmenu li a { color: #fff; font-size: 14px; text-align: center; display: block; padding: 5px 0; border-radius: 5px; }
.mainmenu li a:hover, .mainmenu li a.active { background: #8BD144; box-shadow: 0 0 20px rgb(0 0 0 /20%); }
.mainmenu li a .txt { display: block; font-size: 10px; }
.footer { position: absolute; bottom: 0px; padding-bottom: 40px; font-size: 10px; text-align: center; color: #fff; }
.social { margin-bottom: 10px; }
.social a { color: #fff; font-size: 18px; margin: 0 5px; }

/**/
.main { display: flex; width: 100%; min-height: 100vh; transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out; flex-direction: column;
	padding: 20px; }
.topbar { padding: 20px 30px; }
.contentarea { padding: 30px; /*overflow-y: auto; max-height: 830px;*/ }
.card { border-radius: 16px; padding: 20px; display: block; }
.shadow { border: 1px solid #D9E1E7CC; box-shadow: 0px 0px 15px #00000029; } 
.radiobox { padding: 0 40px; }
.radiobox .item.padleft { padding-left: 80px; }
.radiobox .item.padleft p { line-height: 1.8; }
.radiobox .item .icon { height: 86px; display: flex; align-items: flex-end; justify-content: center; margin-bottom: 10px; }
.radiobox a.card { background: #fff; text-align: center; margin-top: 0; padding: 15px; }
.radiobox a.card p { display: none; }
.radiobox a.card .flex { min-height: 70px; }
.radiobox a.card span { width: 28px; height: 28px; border: 1px solid #B4B4B4; border-radius: 50%; }
.radiobox a.card:hover { border: 3px solid #7FCC30; transform: scaleY(1.05); transform-origin: bottom; margin-top: -8px; padding: 40px 15px; z-index: 1; position: relative; }
.radiobox a.card:hover * { transform: scaleY(0.95); }
/* .radiobox a.card:hover span { background: url(../img/radio-tick.svg) no-repeat center center; background-size: contain; border: 1px solid #7FCC30; } */
.radiobox a.card:hover p { display: block; } 
.ico-num { font-size: 4.375em; font-weight: 900; line-height: 1; }
.ico-txt { font-weight: 900; max-width: 70px; padding: 0 5px; line-height: 1; }
.ico-txt.full { max-width: 100%; }

/* MY TICKETS */
.circlebtn { background: #DBDBDB; width: 62px; height: 62px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: #fff; }
.circlebtn:hover { background: #8BD144; }
.circlebtn span { font-size: 2.5em; }
.status .item { background: transparent radial-gradient(closest-side at 1% -20%, #EFEFEF 0%, #FFFFFF 100%) 0% 0% no-repeat; box-shadow: 0px 0px 5px #0000008F; border-radius: 27px;
	height: 40px; padding: 8px 10px 0px 10px; line-height: 1; width: 14%; }
.status .item span { font-size: 9px; }
.status .item div { font-size: 14px; }
/* .srchtxt { background: url(../img/icon-search.svg) no-repeat 15px center; padding: 0 20px 0 40px; height: 36px; font-size: 13px; } */
/**/
.ticketwrap {  }
.ticket-item { background: #FFFFFF; box-shadow: 0px 0px 15px #00000029; padding: 60px 24px 20px; border-radius: 16px; margin-bottom: 20px; position: relative; transition: 0.3s; }
.ticket-item.active, .ticket-item:hover { box-shadow: inset 0 0 0 3px #91C94D, 0px 0px 15px #00000029; }
.ticket-item:last-child { margin-bottom: 0px; }
.ticket-action { position: absolute; left: 0; top: 20px; color: #fff; line-height: 1; padding: 4px 10px; font-size: 14px; min-width: 90px; text-align: center; }
.ticket-item .txt { width: 30.33%; margin-bottom: 10px; line-height: 1.4; }
.timedate { color: #5D5959; font-size: 13px; }
.ticket-item .bdr { border-bottom: 1px solid rgb(92 89 89 / 50%); margin-bottom: 12px; }
.smltxt { font-size: 11px; letter-spacing: 0.18px; color: #B4B4B4; font-weight: 700; display: block; }
.smltxt2 { letter-spacing: 0.18px; color: #B4B4B4; display: block; }
.tid .textupcase { display: inline; color: #5D5959; margin-right: 5px; }
.t-side { position: absolute; background: #fff; top: 44%; right: 20px; padding: 0 0 0 20px; }
/* .edit { background: url(../img/edit.svg) no-repeat; display: inline-block; width: 32px; height: 32px; }
.edit:hover { background: url(../img/edit-hover.svg) no-repeat; } */
.msgcount { background: #B4B4B4; display: inline-block; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; text-align: center; color: #fff; font-weight: bold; margin-left: 20px; }
.msgcount.grn { background: #7FCC30; color: #fff; }
.blu { color: #1FC9E6; }
.red { color: #E54F4F; }
.grn { color: #8BD144; }
.grey { color: #B4B4B4; }
/**/
.btn { background: #7FCC30;  display: inline-block; line-height: 46px; }
.btn i { font-size: inherit; display: inline-block; vertical-align: middle; position: relative; top: -1px; font-weight: bold; }
/**/
.ticket-desc { border-bottom: 1px solid rgb(92 89 89 / 50%); line-height: 1.4; padding: 0 5px 15px; margin-bottom: 20px; }
.litegrey { color: #5D5959; }
.chat-messages { display: flex; flex-direction: column; max-height: 500px; overflow-y: scroll; padding: 20px 0; }
.chat-message-left { padding: 0 20px; }
.chat-message-right { padding: 0 20px; display: flex; justify-content: flex-end; }
.chatbox { width: 250px; padding: 10px; background: #fff; filter: drop-shadow(0 0 6px rgb(0 0 0 / 10%)); border-radius: 10px; line-height: 1.4; position: relative; }
.chatbox:before { clip-path: polygon(100% 0%, 100% 100%, 0% 50%); width: 10px; height: 20px; content: ''; background: #fff; position: absolute; right: 100%; bottom: 10px; }
.chatbox .date { color: #7C8588; font-size: 10px; text-transform: uppercase; text-align: right; }
.chat-message-right .chatbox { background: #8BD144; color: #fff; }
.chat-message-right .chatbox:before { background: #8BD144; left: 100%; right: auto; transform: rotate(180deg); }
.chat-message-right .chatbox .date { color: #fff; }
/* .linkicon { background: url(../img/link.svg) no-repeat; width: 28px; height: 24px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); } */
/* .send { background: url(../img/send.svg) no-repeat right 15px center #fff; width: 66px; height: 66px; border-radius: 50%; } */
/* .send:hover { background: url(../img/send-wh.svg) no-repeat right 15px center #8bd144; } */

/**/
.pr60 { padding-right: 6%; }
.ticket-item.wide .txt:last-child { width: 20%; }
.tdesc span { line-height: 1.5; }
.tdesc p { color: #5D5959; }
.dbutton a { display: inline-block; padding-top: 10px; color: #8BD144; }
.dbutton a:hover { color: #70B22D; }
.dbutton a i { font-size: 2.5em; }

/* TICKET EDIT WRAP */
.fancybox-slide--html { padding: 0; }
.ticket-editwrap { width: 100%; height: 100%; }
.ticket-editwrap.pop { background: rgb(255 255 255 /93%); top:0; right: 0; bottom: 0; left: 0; display: none; padding: 0; }
.ticket-editwrap.pop .edit-left_menu { filter: drop-shadow(-10px -10px 20px rgb(0 0 0 / 30%)); }
.edit-left_menu { background: #F9F9F9; padding: 70px 0; position: sticky; height: 100%; }
.edit-left_menu .menuitem { height: 33.33%; text-align: center; }
.edit-left_menu .menuitem a { opacity: 0.6; display: block; width: 100%; padding: 0 20px; position: relative; }
.edit-left_menu .menuitem a.pointer:before { content: ''; width: 40px; height: 50px; background: #f9f9f9; clip-path: polygon(0 0, 0 100%, 100% 50%); position: absolute; left: 100%; top: 50%; 
	transform: translateY(-50%); }
.edit-left_menu .menuitem a.active .icon:before { content: ''; width: 50px; height: 50px; background: #7FCC30; border-radius: 50%; position: absolute; left: 48%; top: 10px; 
	transform: translateY(-50%); z-index: -1; }
.edit-left_menu .menuitem a.active, .edit-left_menu .menuitem a:hover { opacity: 1; }
.edit-left_menu .menuitem .icon { margin-bottom: 10px; position: relative; }
.edit-left_menu .menuitem img { margin: 0px auto; }
.edit-tabcontent { padding: 68px 68px 0 10%; }
.edit-tabcontent .tabs { position: relative; height: 100%; max-height: 900px; padding-bottom: 80px; }
.fwlight { font-weight: 400; }
.radiobox.pad0 { padding: 0; }
.radiobox.pad0 p { margin: 50px 0; }
.btn.next { padding: 0 30px; min-width: auto; }
.btn.next.error { background: #E54F4F; position: relative; }
.btn.next span { background: #E54F4F; display: none; position: absolute; font-size: 11px; white-space: nowrap; width: 100%; top: 110%; left: 0; padding: 4px 6px; line-height: 1; border-radius: 27px; }
.btn.next.error span { display: block; }
.btnnextwrap { padding: 0 0 80px; }
/**/
.form label { margin-bottom: 5px; display: block; }
.disabled label { opacity: 0.5; }
.disabled input { opacity: 0.5; }
.rad input + label { color: #B4B4B4; }
.rad input + label span { width: 26px; height: 26px;  }
.rad input:checked + label { color: #7FCC30; }
/* .rad input:checked + label span { background: url(../img/radio-tick.svg) no-repeat center center; background-size: contain; border: 0px !important;  } */
.rad input:checked + label span:before { display: none; }

/* SUPPORT */
.contentarea.pad0 { padding: 0; height: 100%; /*max-height: 830px; overflow: auto;*/ }
.sidegrybg { position: relative; z-index: 1; }
.sidegrybg:before { background: #F9F9F9; content: ''; width: 30%; height: 100%; left: 0; top: 0; position: absolute; z-index: -1; }
.contentarea.pad0 .ticket-editwrap  { height: 100%; }
.contentarea.pad0 .edit-tabcontent  { height: 100%; max-height: 830px; overflow: auto; }
.link { margin-right: 30px; }

/* THANKS YOU */
.thanku-left { background: #F9F9F9; padding: 70px 0; position: sticky; height: 100%; }
.thanku-left ul { padding: 50px 0 0 50px; }
.thanku-left ul li { margin-bottom: 70px; }
.thanku-left ul h3 { color: #06152B; font-size: 2.25em; }
.thanku-left ul h4 { font: bold 1.325em Lato; letter-spacing: 0.22px; color: #06152B; margin-bottom: 0; }
.thanku-left ul p { font: normal 1.325em Lato; letter-spacing: 0.22px; color: #5D5959; }
.thanku-left ul span, .thanku-left ul a { font: normal 1.125em Lato; letter-spacing: 0.22px; color: #5D5959; }
.thanku-right { padding: 70px; height: 100%; }
.thanku-right h1 { font: 900 5em Lato; color: #7FCC30; text-transform: uppercase; margin-bottom: 35px; }
.thanku-right p { font: 400 1.325em Lato; letter-spacing: 0.22px; color: #06152B; margin-bottom: 40px; line-height: 1.7; }
.thanku-right p b { font: 800 1.875em Lato; letter-spacing: 0.22px; color: #06152B; }
.ques { color: #7FCC30; vertical-align: middle; }

/* users list */
.filterwrap { font-size: 14px; font-weight: bold; margin-bottom: 30px; }
.filterby {
    color: #B4B4B4;
    display: flex;
    align-items: center;
    font-weight: bold;
	margin-right: 15px;
}
.filterselect { margin-right: 15px; }
.filterselect select {
    background: #fff;
    color: #B4B4B4;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.notactive { margin-right: 15px; }
.searchin { position: relative; padding-right: 20px; }
.searchin input.txt { color: #8BD144; font-weight: bold; width: 160px; box-shadow: auto; -webkit-appearance: auto; -moz-appearance: auto; -ms-appearance: auto; appearance: auto; }
.searchin input::-webkit-input-placeholder { color: #8BD144; }
.searchin input:-moz-placeholder { color: #8BD144; opacity: 1; }
.searchin input::-moz-placeholder { color: #8BD144; opacity: 1;}
.searchin input:-ms-input-placeholder { color: #8BD144; }
.searchin button { color: #B4B4B4; position: absolute; right: 0; top: -3px; width: auto; padding: 0; }
.usertable {
    margin: 0 -30px;
}
.usertable th {
    text-transform: uppercase;
    text-align: left;
    padding: 20px 5px;
}
.usertable tr:nth-child(even) {
	background: #F9F9F9;
}
.usertable td:nth-child(1) {
	padding-left: 40px;
}
.usertable td:nth-child(1) img {
	width: 48px;
	height: 48px;
}
.usertable td:nth-child(2) span {
	display: block;
}
.usertable td {
    padding: 20px 5px;
}
.nametag { background: #3A36DB; display: flex; align-items: center; justify-content: center; height: 48px; width: 48px; border-radius: 50%; color: #fff; font-weight: bold; text-transform: uppercase; }

.bdrbtn {
    border: 1px solid #3A36DB;
    color: #3A36DB;
    border-radius: 30px;
    display: inline-block;
    padding: 0 10px;
    line-height: 28px; min-width: 100px; text-align: center; 
}
.bdrbtn.blu1 {
    border: 1px solid #1FC9E6;
    color: #1FC9E6;
}
.bdrbtn.blu2 {
    border: 1px solid #3D90F7;
    color: #3D90F7;
}.bdrbtn.blu3 {
    border: 1px solid #1FC9E6;
    color: #1FC9E6;
}.bdrbtn.purple {
    border: 1px solid #C389FF;
    color: #C389FF;
}
.pagination { padding: 40px 0 20px; position: relative; }
.pagination a {
    color: #313745;
	display: inline-block;
    font-size: 14px;
	margin: 0 10px;
}
.pagination a.prev span, .pagination a.next span {
    font-size: 14px; font-weight: bold; position: relative; top: 2px;
}
.pagination a.active { background: #313745; color: #fff; width: 22px; height: 22px; line-height: 22px; border-radius: 50%; }
.gotopage  { position: relative; bottom: 8px; }
.gotopage label { font-size: 14px; display: block; margin-bottom: 2px; }
.gotopage .txtbox {
    border-radius: 2px;
    padding: 0 5px;
    width: 80px;
    height: 24px;
}
.gotopage button { width: auto; padding: 0; right: 0; bottom: -3px; position: absolute; }

.status-active {
    color: #7fcc30;
    font-weight: bold;
}
.status-active:before {
    content: '';
    background: #7fcc30;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.status-notactive {
    color: #E54F4F;
    font-weight: bold;
}
.status-notactive:before {
    content: '';
    background: #E54F4F;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.rgtbox .search { margin-right: 25px; }
.rgtbox .notify { margin-right: 25px; }
.usericon { color: #5D5959; font-weight: 700; }
.name { position: relative; padding: 10px 30px 0 10px; }
.name span { display: block; font-weight: 400; }
.name .material-icons { color: #90C94D; position: absolute; right: 0; top: 7px; }

/**/
.detail-left { background: #f9f9f9; text-align: center; }
.detail-left ul { display: inline-block; padding: 40px 0; }
.detail-left ul li { position: relative; margin-bottom: 30px; }
.userimg { position: relative; }
.userimg .grey { font-size: 12px; display: block; padding: 10px 0 0; }
.addimg { background: #7FCC30; color: #fff; font-weight: bold; padding: 7px 8px; border-radius: 50%; position: absolute; right: 10px; top: 10px; }
.userimgc { background: #fff; box-shadow: 0 0 25px rgb(0 0 0/10%); border-radius: 50%; width: 170px; height: 170px; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.smlhead { font-size: 14px; text-transform: uppercase; font-weight: 600; margin: 0 0 5px; }
.btn.small { font-size: 14px; line-height: 30px; min-width: 60px; border-radius: 10px; }
.btn.med { font-size: 24px; line-height: 60px; min-width: 140px; border-radius: 20px; }
table .blink { color: #3A36DB; font-weight: bold; }

.detail-right.pad0 { padding: 0; }
.detail-right.pad0 .filterwrap { padding: 0 35px; }
.usertable.m0 { margin: 0; }
.usertable.m0 tr:first-child th:first-child { padding-left: 40px; }
.prior { background: #CCD7E3; color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 0 10px;
    line-height: 28px; min-width: 100px; text-align: center; }
.prior.med { background: #8DB9ED; }
.prior.high { background: #E54F4F; }
.userimgico {  }
.detail-right { padding: 70px; height: 100%; }
.detail-right label { display: block; padding-bottom: 5px; color: #B4B4B4; }
select.select { border: 1px solid #B4B4B4; border-radius: 16px; height: 66px; transition: 0.3s; color: #7FCC30; padding: 0 15px; -webkit-appearance: auto; -moz-appearance: auto; 
	-ms-appearance: auto; appearance: auto; }
input[type="checkbox"] + label {
    color: #000;
}
.form label.mb20 { margin-bottom: 20px; }


.pad30 { padding: 10px 30px; }
.srchtxt.whbg { background-color: #fff; }

/**/
.msghead { color: #B4B4B4; font-size: 16px; padding: 0 30px; }
.msghead a { color: #B4B4B4; }
.msghead span { vertical-align: middle; font-size: 16px; position: relative; top: -1px; }
.totalmsg { margin-right: 20px; }
.readmsg { margin-right: 20px; }
.msglist { max-height: 600px; overflow: auto; }
.msgitem {
    border-top: 1px solid #B4B4B4;
    padding: 30px 40px;
    text-align: left;
}
.msgitem:hover {
	background: #FEFEFE;
	box-shadow: 0 0 20px rgb(0 0 0 /10%);
}
.msgicon {
    width: 50px;
}
.msgicon .name {
    width: 50px; height: 50px; background: #3B38B5; color: #fff; font-size: 24px; font-weight: bold; display: flex; align-items: center; justify-content: center; border-radius: 10px; padding: 0;
}
.msgtext {
    width: calc(100% - 70px); position: relative;
}
.msgitem .msgtext:before { background: #B4B4B4; width: 10px; height: 10px; border-radius: 50%; content: ''; position: absolute; right: 0px; top: 6px; }
.msgtext a { color: #7FCC30; font-weight: 600; }
.msgitem .msgtext.notread:before { background: #7FCC30; }
.msgtime .material-icons-outlined {
    vertical-align: middle;
    font-size: 16px;
    top: -2px;
    position: relative;
}

.msgtime {
    background: #D9E7E4;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #5D5959;
	transition: 0.3s;
}
.msgtime.old {
    background: #8BD144;
    color: #fff;
}
.msgdetailwrap { border-bottom: 2px solid #9ACE5A; padding: 40px 0; }
.msgdetailwrap:first-child { padding-top: 0; }
.msgdetailwrap:last-child { border: 0; }
.msgheadtitle { color: #5D5959; font-size: 13px; }
.msgheadtitle h4 { color: #5D5959; font-size: 13px; margin-bottom: 4px; }
.msgheadtitle .lft {
    max-width: 360px;
    width: 100%;
}
.msgheadtitle .rgt a { margin-left: 20px; }
.reply .msgtext { width: calc(100% - 120px); }
.attachment { display: inline-flex; align-items: center; background: #fff; border-radius: 5px; box-shadow: 2px 2px 8px rgb(0 0 0 / 10%); padding: 8px 16px; margin-top: 10px; }
.fileicon {  }
.fileimg { margin-right: 10px; width: 38px; }
.filename {}
.dfile {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 8%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B4B4B4;
    margin-left: 20px;
}
.attach {
    color: #b4b4b4;
    padding: 20px 0;
}
.submit.small {
    width: auto;
    padding: 0 40px;
    height: 50px;
}

.createmailpop {position: fixed;left: 0;right: 0;z-index: 9;top: 0; bottom: 0; padding:80px 0; overflow: auto; }
.popinn { background: #fff; border-radius: 20px; max-width: 800px; width: 100%; box-shadow: 0 0 20px rgb(0 0 0/10%); margin: 0px auto;}
.overlay { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: #fff; opacity: 0.9; z-index: -1; }
.msgheading {
    background: #7fcc30;
    padding: 20px;
    color:  #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px 20px 0 0;
}
.popinn .input { height: 60px; padding: 0 20px; border-bottom: 1px solid #B4B4B4; }
.popinn textarea.input { height: 400px; padding: 20px; border: 0; }
.popbtm { padding: 0 20px 20px; }
.popbtm .submit { margin-right: 20px; }

/* RESPONSIVE */
@media screen and (max-width: 1199px) {
.loginbox .centerdiv { max-width: 768px; }
.logindiv { padding-top: 60px; }
.login-logo { padding: 0px 0 0; }
/**/
.sidegrybg:before { display: none; }
.thanku-left {
    width: 100%;
    height: auto;
    padding: 30px 0 0;
}
.thanku-left ul {
    padding: 0;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.thanku-left p {
    line-height: 1;
}
.thanku-left ul li {
    margin-bottom: 0;
}
.thanku-right {
    padding: 40px 30px 60px;
    height: auto;
	font-size: 12px;
}
.thanku-right p {
    font: 400 1.325em Lato;
    margin-bottom: 20px;
    line-height: 1.5;
}
}

@media screen and (max-width: 1024px) {
.loginbox { padding: 40px 0 0; }	
.loginbox .centerdiv { padding: 50px 30px 0px; }	
.submit { font: 600 18px Lato; }
.detail-left { width: 100%; }	
.detail-right { padding: 30px; width: 100%; }	
.detail-left ul { display: flex; flex-wrap: wrap; padding: 30px; }
.loginimg { height: inherit; }
}

@media screen and (max-width: 768px) {

}